---
import { ExtendedPostInfo } from "../../types";
import style from "./related-posts.module.scss";
import RelatedPostsCard from "./related-posts-card.astro";
import * as api from "utils/api";
import { getSuggestedArticles } from "utils/get-suggested-articles";

interface RelatedPostsProps {
	post: ExtendedPostInfo;
	headingId: string;
}

const { post, headingId } = Astro.props as RelatedPostsProps;
const authors = post.authors.map((unicornId) =>
	api.getUnicornById(unicornId, post.locale),
);
const suggestedArticles = getSuggestedArticles(post);
---

<h2 id={headingId} class={`text-style-headline-5 ${style.relatedPostsHeader}`}>
	Related posts
</h2>
<ul class={style.suggestedPostList}>
	{
		suggestedArticles.map((suggestedPost) => (
			<li>
				<RelatedPostsCard
					title={suggestedPost.title}
					slug={suggestedPost.slug}
					authors={authors.map((author) => author.name)}
				/>
			</li>
		))
	}
</ul>
