---
import { PostInfo } from "../../types";
import style from "./related-posts.module.scss";
import RelatedPostsCard from "./related-posts-card.astro";
import * as api from "#utils/api";
import { getSuggestedArticles } from "#utils/get-suggested-articles";
import { isDefined } from "#utils/is-defined";

interface RelatedPostsProps {
	post: PostInfo;
	headingId: string;
}

const { post, headingId } = Astro.props as RelatedPostsProps;
const suggestedArticles = await getSuggestedArticles(post);

const suggestedArticlesWithAuthors = await Promise.all(
	suggestedArticles.map(async (post) => {
		const authors = (
			await Promise.all(
				post.authors.map((personId) =>
					api.getPersonById(personId, post.locale),
				),
			)
		).filter(isDefined);
		return { ...post, authorsMeta: authors };
	}),
);
---

<h2 id={headingId} class={`text-style-headline-5 ${style.relatedPostsHeader}`}>
	Related posts
</h2>
<ul class={style.suggestedPostList}>
	{
		suggestedArticlesWithAuthors.map((suggestedPost) => (
			<RelatedPostsCard
				title={suggestedPost.title}
				slug={suggestedPost.slug}
				authors={suggestedPost.authorsMeta}
			/>
		))
	}
</ul>
