---
import { getPaginationRange, DR, DL } from './pagination-logic';
import { Page } from 'astro';
import { PostInfo } from 'types/PostInfo';

interface PaginationProps {
    page: Pick<Page<PostInfo>, 'total' | 'currentPage' | 'size' | 'lastPage' | 'url'>;
    class: string;
}

const {
    page,
    class: className = ""
} = Astro.props as PaginationProps;

const paginationRange = getPaginationRange({
    currentPage: page.currentPage,
    totalCount: page.total,
    siblingCount: 1,
    pageSize: page.size
});

const dontShowAnything = page.currentPage === 0 || paginationRange.length < 2;

const getPageHref = (pageNum: number) => pageNum === 0 || pageNum === 1 ? '/' : `/page/${pageNum}`;

const lastPage = paginationRange[paginationRange.length - 1];
const firstPage = paginationRange[0];

const disablePrevious = page.currentPage === firstPage.pageNumber;
const disableNext = page.currentPage === lastPage.pageNumber;
---

{dontShowAnything ? null : <ul class={`pagination-container ${className}`}>
    {!disablePrevious && <li class={`pagination-item`}>
        <a href={getPageHref(page.currentPage - 1)}>
            Previous
        </a>
    </li>}

    {paginationRange.map(pageItem => {
        const isSelected = pageItem.pageNumber === page.currentPage;
        return (
            <li class={`pagination-item ${ isSelected ? 'selected' : '' }`}>
                <a href={getPageHref(pageItem.pageNumber)} aria-label={pageItem.ariaLabel}>
                    {pageItem.display}
                </a>
            </li>
        );
    })}

    {!disableNext && <li class={`pagination-item`}>
        <a href={getPageHref(page.currentPage + 1)}>
            Next
        </a>
    </li>}
</ul>}