---
import { PostInfo } from "types/PostInfo";

interface CollectionTableOfContentsProps {
	collection: {
		chapterList: Array<{
			order: string | number;
			title: string;
			description: string;
		}>;
	};
	posts?: PostInfo[];
}

const { collection, posts } = Astro.props as CollectionTableOfContentsProps;
---

<div class="stitchedAreaContainer">
	<div class="topBorderArea"></div>
	<div class="postsContainer">
		<div class="listViewContent postsInnerContainer">
			<h2 id="chapter-listing-heading" class="chapterListingHeader">
				Chapter Listing:
			</h2>
			<ul aria-describedby="chapter-listing-heading" class="collectionPostList">
				{
					posts &&
						posts.map((post) => {
							return (
								<li class="postContainer">
									<a href={"/posts/" + post.slug} class="postLink">
										<div class="orderContainer">{post.order}</div>
										<div>
											<h3 class="postTitle">{post.title}</h3>
											<p class="postDesc">{post.description}</p>
										</div>
									</a>
								</li>
							);
						})
				}
				{
					(collection.chapterList || []).map((post, i) => {
						return (
							<li class="postContainer">
								<div class="postLink">
									<div class="orderContainer">{post.order}</div>
									<div>
										<h3 class="postTitle noLink">{post.title}</h3>
										<p class="postDesc">{post.description}</p>
									</div>
								</div>
							</li>
						);
					})
				}
			</ul>
		</div>
	</div>
	<div class="bottomBorderArea"></div>
</div>
