---
import { getImage } from "@astrojs/image";
import unicornSticker from "assets/unicorn_utterances_sticker_512.png";
import { getStickers } from "../../utils/get-stickers";
import styles from "./banner-stickers-group.module.scss";

const stickers = getStickers().sort(() => 0.5 - Math.random());

const stickerTransforms = [
	styles.sticker1,
	styles.sticker2,
	styles.sticker3,
	styles.sticker4,
	styles.sticker5,
	styles.sticker6,
	styles.sticker7,
	styles.sticker8,
	styles.sticker9,
].map((className) => {
	let sticker = stickers.pop();
	return {
		...sticker,
		className,
	};
});

const unicornImage = await getImage({
	src: unicornSticker,
	height: 190,
	aspectRatio: 512 / 541,
	alt: "",
	format: "png",
});

const props = Astro.props as { class: string; unicornClass: string };
---

<div class={props.class} aria-hidden="true">
	{
		stickerTransforms.map((sticker) => (
			<img src={sticker.src} class={sticker.className} alt="" />
		))
	}

	<img
		height="190"
		src={unicornImage.src}
		class={styles.unicornLogo}
		style="position: absolute; left: 59.81%; top: 26.67%;"
		alt=""
	/>
</div>
