---
import { getStickers } from "../../utils/get-stickers";

const STICKER_TRANSFORMS = [
	"left: 4%; top: 50%; transform: scale(0.8);",
	"left: 0; top: 18%; transform: rotate(-5deg);",
	"left: 18%; top: 0; transform: rotate(15deg);",
	"left: 32%; top: 0; transform: rotate(-20deg) scale(0.8);",
	"left: 53%; top: 0; transform: rotate(-7deg);",
	"left: 76%; top: 1%; transform: rotate(-10deg) scale(0.8);",
	"left: 90%; top: 15%; transform: rotate(5deg);",
	"left: 93%; top: 52%; transform: scale(0.8);",
];

const stickers = (await getStickers()).sort(() => 0.5 - Math.random());

const stickerTransforms = STICKER_TRANSFORMS.map((transform) => {
	let sticker = stickers.pop();
	return {
		...sticker,
		width: 32,
		height: sticker.height * (32 / sticker.width),
		transform,
	};
});

const props = Astro.props as { class: string };
---

<div class={props.class} style="height: 128px;" aria-hidden="true">
	{
		stickerTransforms.map((sticker) => (
			<img
				width={sticker.width}
				height={sticker.height}
				src={sticker.src}
				style={`position: absolute; ${sticker.transform};`}
				alt=""
			/>
		))
	}
</div>
