---
import { getImage } from "@astrojs/image";
import unicornSticker from "assets/unicorn_utterances_sticker_512.png";
import { getStickers } from "../../utils/get-stickers";

const STICKER_TRANSFORMS = [
	"left: 45.45%; top: 17.00%; transform: scale(0.8);",
	"left: 71.29%; top: 0.00%; transform: rotate(15deg);",
	"left: 19.14%; top: 7.33%; transform: rotate(4deg) scale(1.2);",
	"left: 33.49%; top: 42.33%; transform: rotate(5deg) scale(0.9);",
	"left: 16.75%; top: 56.67%; transform: scale(0.8);",
	"left: 44.74%; top: 64.67%; transform: rotate(8deg);",
	"left: 26.32%; top: 76.67%; transform: rotate(-4deg) scale(0.9);",
	"left: 64.11%; top: 76.33%; transform: rotate(6deg);",
	"left: 86.12%; top: 70.00%; transform: scale(0.8);",
];

const stickers = (await getStickers()).sort(() => 0.5 - Math.random());

const stickerTransforms = STICKER_TRANSFORMS.map((transform) => {
	let sticker = stickers.pop();
	return {
		...sticker,
		width: 90,
		height: sticker.height * (90 / sticker.width),
		transform,
	};
});

const unicornImage = await getImage({
	src: unicornSticker,
	width: 512,
	height: 541,
	alt: "",
	format: "png",
});

const props = Astro.props as { class: string };
---

<div class={props.class} aria-hidden="true">
	{
		stickerTransforms.map((sticker) => (
			<img
				width={sticker.width}
				height={sticker.height}
				src={sticker.src}
				style={`position: absolute; ${sticker.transform};`}
				alt=""
			/>
		))
	}

	<img
		height="190"
		src={unicornImage.src}
		style="position: absolute; left: 59.81%; top: 26.67%;"
		alt=""
	/>
</div>
