---
import { Input } from "../input/input";
import { LargeButton } from "../button/button";
import styles from "./mailing-list.module.scss";
---

<form
	action="https://app.convertkit.com/forms/1254394/subscriptions"
	method="post"
	class={styles.container}
>
	<h2 class={`text-style-headline-5 ${styles.title}`}>
		Subscribe to our newsletter!
	</h2>
	<p class={`text-style-body-medium ${styles.description}`}>
		Subscribe to our newsletter to get updates on new content we create, events
		we have coming up, and more! We&apos;ll make sure not to spam you and
		provide good insights to the content we have.
	</p>
	<Input
		label="First name"
		aria-label="Your first name"
		name="fields[first_name]"
		type="text"
		containerClass={styles.firstName}
	/>
	<Input
		label="Email address"
		name="email_address"
		aria-label="Your email address"
		required={true}
		type="email"
		containerClass={styles.emailAddress}
	/>
	<LargeButton
		tag="button"
		type="submit"
		variant="primary-emphasized"
		data-element="submit"
		class={styles.button}
	>
		Subscribe
	</LargeButton>
</form>
