---
import { PostCardGrid } from "src/components/post-card/post-card-grid";
import * as data from "src/utils/data";
import { LargeButton, Button } from "components/base";
import { PostInfo } from "types/PostInfo";
import { getUnicornProfilePicMap } from "utils/get-unicorn-profile-pic-map";
import style from "./homepage.module.scss";
import { Icon } from "astro-icon";
import { translate } from "utils/translations";
import { CollectionInfo } from "types/CollectionInfo";
import CollectionCard from "components/collection-card/collection-card.astro";
import SearchBarLite from "../search/search-bar-lite/search-bar-lite.astro";

export interface HomepageProps {
	posts: PostInfo[];
	collections: CollectionInfo[];
}

const { posts, collections } = Astro.props as HomepageProps;

const unicornProfilePicMap = await getUnicornProfilePicMap();
---

<header class="grid grid-desktopSmall-2">
	<div class={style.bannerLogo}><!-- TODO: replace with banner image --></div>
	<div class="text-center">
		<h1 class="text-style-headline-2">
			{translate(Astro, "desc.homepage")}
		</h1>
		<p class="text-style-body-large-bold">
			{translate(Astro, "desc.homepage_extra")}
		</p>
		<div
			class={`grid grid-tablet-2 grid-desktopSmall-1 grid-desktop-2 ${style.buttons}`}
		>
			<LargeButton variant="primary" href={data.about.links.Discord.url}>
				<Icon height="24" width="24" name={data.about.links.Discord.icon} />
				{translate(Astro, "action.join_discord")}
			</LargeButton>
			<LargeButton href="/about">
				{translate(Astro, "action.learn_more")}
				<Icon height="24" width="24" name="forward" />
			</LargeButton>
		</div>
	</div>
</header>

<section>
	<div class="d-flex gap-4">
		<h1 class="text-style-headline-4">Recent articles</h1>
		<Button href="/page/1">{translate(Astro, "action.view_all")}</Button>
	</div>

	<PostCardGrid
		listAriaLabel="List of posts"
		postsToDisplay={posts}
		unicornProfilePicMap={unicornProfilePicMap}
	/>
</section>

<section>
	<div class="d-flex gap-4">
		<h1 class="text-style-headline-4">Collections</h1>
		<Button href="/page/1">{translate(Astro, "action.view_all")}</Button>
	</div>

	<div class="grid grid-tablet-2 grid-desktop-3">
		{
			collections.map((collection) => (
				<CollectionCard
					collection={collection}
					unicornProfilePicMap={unicornProfilePicMap}
				/>
			))
		}
	</div>
</section>

<section class="text-center">
	<h1 class="h4">{translate(Astro, "title.looking_for_more")}</h1>
	<p>{translate(Astro, "desc.looking_for_more")}</p>

	<SearchBarLite />
</section>
