---
import { PostCardGrid } from "src/components/post-card/post-card-grid";
import { Button } from "components/button/button";
import { Languages, PostInfo, CollectionInfo } from "types/index";
import { getUnicornProfilePicMap } from "utils/get-unicorn-profile-pic-map";
import { translate } from "utils/translations";
import { CollectionCard } from "components/collection-card/collection-card";
import { SubHeader } from "../../components/subheader/subheader";
import Hero from "../../components/hero/hero.astro";
import SearchSection from "../../components/search-section/search-section.astro";
import styles from "./homepage.module.scss";
import { buildSearchQuery } from "src/views/search/search";
import { getPicture } from "utils/get-picture";
import * as api from "utils/api";
import { isDefined } from "utils/is-defined";

export interface HomepageProps {
	posts: PostInfo[];
	collections: CollectionInfo[];
	locale: Languages;
}

const { posts, collections, locale } = Astro.props as HomepageProps;

const postAuthors = new Map(
	[...new Set(posts.flatMap((p) => p.authors))]
		.map((id) => api.getUnicornById(id, locale))
		.filter(isDefined)
		.map((u) => [u.id, u]),
);

const unicornProfilePicMap = await getUnicornProfilePicMap();

const collectionsWithPictures = await Promise.all(
	collections.map(async (collection) => {
		const coverImgAspectRatio =
			collection.coverImgMeta.width / collection.coverImgMeta.height;
		// adjust the image width to ensure its height=240px
		// (i.e. it shouldn't get upscaled/downscaled with `object-fit: cover`)
		const coverImgWidth = Math.max(160, Math.ceil(240 * coverImgAspectRatio));

		const coverPicture = await getPicture({
			src: collection.coverImgMeta.relativeServerPath,
			widths: [coverImgWidth],
			aspectRatio: coverImgAspectRatio,
			formats: ["avif", "webp", "png"],
		});

		return { ...collection, coverPicture };
	}),
);
---

<Hero />
<section>
	<SubHeader tag="h2" text="Recent articles" id="posts-header">
		<Button href="/page/1" aria-labelledby="posts-header">
			{translate(Astro, "action.view_all")}
		</Button>
	</SubHeader>

	<PostCardGrid
		aria-labelledby="posts-header"
		postsToDisplay={posts}
		postAuthors={postAuthors}
		postHeadingTag="h3"
		unicornProfilePicMap={unicornProfilePicMap}
	/>
</section>

<section>
	<SubHeader tag="h2" text="Collections" id="collections-header">
		<Button
			href={`/search?${buildSearchQuery({
				searchQuery: "*",
				display: "collections",
			})}`}
			aria-labelledby="collections-header"
		>
			{translate(Astro, "action.view_all")}
		</Button>
	</SubHeader>

	<ul
		role="list"
		aria-labelledby="collections-header"
		class={styles.collectionsGrid}
	>
		{
			collectionsWithPictures.map((collection) => (
				<li>
					<CollectionCard
						collection={collection}
						authors={collection.authors
							.map((id) => api.getUnicornById(id, collection.locale))
							.filter(isDefined)}
						headingTag="h3"
						unicornProfilePicMap={unicornProfilePicMap}
					/>
				</li>
			))
		}
	</ul>
</section>

<SearchSection />
