---
import { PostCardGrid } from "src/components/post-card/post-card-grid";
import * as data from "src/utils/data";
import { LargeButton, Button, Tag } from "components/base";
import { ExtendedPostInfo } from "types/index";
import { getUnicornProfilePicMap } from "utils/get-unicorn-profile-pic-map";
import style from "./homepage.module.scss";
import { Icon } from "astro-icon";
import { translate } from "utils/translations";
import { ExtendedCollectionInfo } from "types/CollectionInfo";
import CollectionCard from "components/collection-card/collection-card.astro";
import SearchBarLite from "../search/search-bar-lite/search-bar-lite.astro";
import BannerStickersGroup from "components/banner-stickers/banner-stickers-group.astro";

export interface HomepageProps {
	posts: ExtendedPostInfo[];
	collections: ExtendedCollectionInfo[];
}

const { posts, collections } = Astro.props as HomepageProps;

const unicornProfilePicMap = await getUnicornProfilePicMap();

const tagsToDisplay = [...data.tags]
	.sort(() => 0.5 - Math.random())
	.slice(0, 8);
---

<header class={`grid grid-desktopSmall-2 ${style.header}`}>
	<div class={style.bannerLogo}>
		<BannerStickersGroup />
	</div>
	<div class="text-center">
		<h1 class="text-style-headline-2">
			{translate(Astro, "desc.homepage")}
		</h1>
		<p class="text-style-body-large-bold">
			{translate(Astro, "desc.homepage_extra")}
		</p>
		<div
			class={`grid grid-tablet-2 grid-desktopSmall-1 grid-desktop-2 ${style.buttons}`}
		>
			<LargeButton
				variant="primary-emphasized"
				href={data.about.links.Discord.url}
			>
				<Icon
					slot="leftIcon"
					height="100%"
					width="100%"
					name={data.about.links.Discord.icon}
				/>
				{translate(Astro, "action.join_discord")}
			</LargeButton>
			<LargeButton variant="primary" href="/about">
				{translate(Astro, "action.learn_more")}
				<Icon slot="rightIcon" height="100%" width="100%" name="forward" />
			</LargeButton>
		</div>
	</div>
</header>

<section>
	<div class={`d-flex gap-4 ${style.header}`}>
		<h1 class="text-style-headline-4">Recent articles</h1>
		<Button href="/page/1">{translate(Astro, "action.view_all")}</Button>
	</div>

	<PostCardGrid
		listAriaLabel="List of posts"
		postsToDisplay={posts}
		unicornProfilePicMap={unicornProfilePicMap}
	/>
</section>

<section>
	<div class={`d-flex gap-4 ${style.header}`}>
		<h1 class="text-style-headline-4">Collections</h1>
		<Button href="/page/1">{translate(Astro, "action.view_all")}</Button>
	</div>

	<div class="grid grid-tablet-2 grid-desktopSmall-3">
		{
			collections.map((collection) => (
				<CollectionCard
					collection={collection}
					unicornProfilePicMap={unicornProfilePicMap}
				/>
			))
		}
	</div>
</section>

<section class="text-center">
	<h1 class="text-style-headline-4">
		{translate(Astro, "title.looking_for_more")}
	</h1>
	<p>{translate(Astro, "desc.looking_for_more")}</p>

	<div class={style.searchbar}>
		<SearchBarLite />
	</div>

	<ul class="unlist-inline gap-2 text-center">
		{
			tagsToDisplay.map((tag) => (
				<li>
					<Tag href={`/search?q=${tag}`}>{tag}</Tag>
				</li>
			))
		}
	</ul>
</section>
