---
import { objectMap } from "ts-util-helpers";
import { languages } from "constants/index";
import { Languages } from "types/index";
import {
  postBySlug,
  seriesPostsPick,
} from "constants/queries";
import { getPostBySlug, getAllPosts, postsDirectory } from "utils/fs/api";
import markdownToHtml from "utils/markdown/markdownToHtml";
import * as path from 'path';

import "../../global.scss";

import {COLORS} from 'constants/theme';

import {PostBody} from '../../components/PostBody.tsx';

const CSS_THEME = Object.entries(COLORS).reduce((prev, [key, val]) => {
  prev += `\n--${key}: ${val.light};`;
  return prev;
}, "");

const rawStylesCSS = `
  :root {
    ${CSS_THEME}
  }
`

export function getStaticPaths() {
  const postsLangArr = objectMap(languages, (_, lang) => {
    return getAllPosts({ slug: true }, lang);
  });

  const paths = (Object.keys(postsLangArr) as Array<Languages>)
    .map((lang) =>
      postsLangArr[lang].map((post) => {
        return {
          params: {
            postid: post.slug,
          }
        };
      })
    )
    .flat();

  return paths;
}

const { postid } = Astro.params as { postid: string };

const slugParam = postid;
const lang = "en";
const post = getPostBySlug(slugParam, lang, postBySlug);

const isStr = (val: any): val is string => typeof val === "string";
const slug = isStr(post.slug) ? post.slug : "";

const { html: markdownHTML, headingsWithId } = await markdownToHtml(
	post.content,
	post.slug
);

---

<html lang="en">
  <head>
    <Fragment set:html={`<style>${rawStylesCSS}</style>`}>
    <script src="svimg/dist/s-image"/>
  </head>
	<body>
    <article>
      <main class="post-body">
        <PostBody client:load markdownHTML={markdownHTML} slug={post.slug}/>
      </main>
    </article>
	</body>
</html>
