---
import style from "./contributor-card.module.scss";
import { UnicornInfo } from "uu-types";
import { Picture } from "components/image/picture";
import { Button } from "components/index";
import { translate } from "src/utils/translations";
import { getHrefContainerProps } from "utils/href-container-script";
import allRoles from "../../../content/data/roles.json";
import { tabletSmall } from "src/tokens/breakpoints";

interface CardProps {
	unicorn: UnicornInfo;
}

const { unicorn } = Astro.props as CardProps;
const unicornHref = `/unicorns/${unicorn.id}`;

const roles = unicorn.roles.map(
	(role) => allRoles.find((r) => r.id === role)!.prettyname,
);

const isPartner = unicorn.achievements.includes("partner");
---

<li class={style.card} {...getHrefContainerProps(unicornHref)}>
	<Picture
		alt=""
		width={96}
		height={96}
		sizes={{
			80: { maxWidth: tabletSmall },
		}}
		imgAttrs={{
			class: style.avatar,
			"data-dont-round": "true",
		}}
		src={unicorn.profileImgMeta.relativeServerPath}
	/>

	<div class={style.info}>
		<span class={`${style.name} text-style-body-large-bold`}>
			{unicorn.name}
			{
				isPartner && (
					<span class={`text-style-body-small-bold ${style.partnerLabel}`}>
						<img src="/flair/bowtie.svg" alt="" />
						Partner
					</span>
				)
			}
		</span>
		<ul
			class={`${style.roles} text-style-body-small`}
			aria-label={translate(Astro, "desc.unicorn_roles")}
			role="list"
		>
			{
				roles.map((role, i, arr) => (
					<li role="listitem">
						{[role, i < arr.length - 1 && <span aria-hidden="true">, </span>]}
					</li>
				))
			}
		</ul>
	</div>

	<Button
		class={style.button}
		href={unicornHref}
		aria-label={translate(Astro, "label.view_profile_for", unicorn.name)}
	>
		{translate(Astro, "action.view_profile")}
	</Button>
</li>
