---
import style from "./why-get-involved.module.scss";
---

<section>
	<h2 id="why-contribute" class={style.srOnly}>Why contribute?</h2>
	<ul class={style.illustrationList} aria-labelledby="why-contribute">
		<li class={style.illustrationListItem}>
			<!-- Replace with an `img` tag -->
			<div class={style.illustration}>
				<div class={style.illustrationBackground}></div>
			</div>
			<div class={style.illustrationTextContainer}>
				<p class={`text-style-headline-6 ${style.illustrationText}`}>
					Gain real-world writing and development experience
				</p>
			</div>
		</li>

		<li class={style.illustrationListItem}>
			<div class={style.illustration}>
				<div class={style.illustrationBackground}></div>
			</div>
			<div class={style.illustrationTextContainer}>
				<p class={`text-style-headline-6 ${style.illustrationText}`}>
					Receive a letter of recommendation from project leaders
				</p>
			</div>
		</li>

		<li class={style.illustrationListItem}>
			<div class={style.illustration}>
				<div class={style.illustrationBackground}></div>
			</div>
			<div class={style.illustrationTextContainer}>
				<p class={`text-style-headline-6 ${style.illustrationText}`}>
					Own a slice of a growing community of computer science experts
				</p>
			</div>
		</li>
	</ul>
</section>
