---
import BannerStickersGroup from "../banner-stickers/banner-stickers-group.astro";
import { LargeButton } from "../button/button";
import { Icon } from "astro-icon/components";
import style from "./hero.module.scss";
import { translate } from "../../utils";
import * as data from "src/utils/data";
---

<section class={`${style.header}`}>
	<BannerStickersGroup class={style.bannerLogo} />
	<div class="text-center">
		<h1 class={`text-style-headline-2 ${style.title}`}>
			{translate(Astro, "desc.homepage")}
		</h1>
		<p class={`text-style-body-large-bold ${style.desc}`}>
			{translate(Astro, "desc.homepage_extra")}
		</p>
		<div class={style.buttons}>
			<LargeButton
				variant="primary-emphasized"
				href={data.about.links.Discord.url}
			>
				<Icon
					slot="leftIcon"
					style="width: 100%; height: 100%;"
					name={data.about.links.Discord.icon as never}
				/>
				{translate(Astro, "action.join_discord")}
			</LargeButton>
			<LargeButton variant="primary" href="/about">
				{translate(Astro, "action.learn_more")}
				<Icon
					slot="rightIcon"
					style="width: 100%; height: 100%;"
					name="arrow_right"
				/>
			</LargeButton>
		</div>
	</div>
</section>
