---
import Document from "../../../../layouts/document.astro";
import SEO from "components/seo/seo.astro";
import UnicornsPage from "../../../../page-components/unicorns/unicorn-page.astro";
import { getPostsByUnicorn } from "utils/api";
import { ExtendedPostInfo } from "types/index";
import { unicorns } from "utils/data";
import { Page } from "astro";

export async function getStaticPaths({ paginate }) {
	return unicorns.map((unicorn) => {
		const allUnicornPosts = getPostsByUnicorn(unicorn.id, "en");
		return paginate(allUnicornPosts, {
			params: { unicornid: unicorn.id },
			props: { allPosts: allUnicornPosts },
			pageSize: 8,
		});
	});
}

const { page, allPosts } = Astro.props as {
	page: Page<ExtendedPostInfo>;
	allPosts: ExtendedPostInfo;
};
const params = Astro.params as { unicornid: string };

const unicorn = unicorns.find((unicorn) => unicorn.id === params.unicornid);
const rootURL = `/unicorns/${unicorn.id}/`;
---

<Document>
	<SEO
		slot="head"
		title={unicorn.name}
		description={unicorn.description}
		unicornsData={[unicorn]}
		type="profile"
	/>
	<div class="listViewContent">
		<UnicornsPage
			unicorn={unicorn}
			page={page}
			posts={page.data}
			allPosts={allPosts}
			rootURL={rootURL}
		/>
	</div>
</Document>
