---
import styles from "./adventure-continues.module.scss";
import AccessibilitySvg from "../icons/accessibility.astro";
import BookSvg from "../icons/book.astro";
import BrainSvg from "../icons/brain.astro";
import BuildSvg from "../icons/build.astro";
import ChallengesSvg from "../icons/challenges.astro";
import DiscordSvg from "../icons/discord-gradient.astro";
import DownloadsSvg from "../icons/downloads.astro";
import IncrementalSvg from "../icons/incremental.astro";
import LinkSvg from "../icons/link.astro";
import NoFrameworkSvg from "../icons/no_framework.astro";
import NoTSSvg from "../icons/no_ts.astro";
import PackageSvg from "../icons/package.astro";
import RerenderSvg from "../icons/rerender.astro";
import SitemapSvg from "../icons/sitemap.astro";
import ToolsSvg from "../icons/tools.astro";
import WriteFrameworkSvg from "../icons/write_framework.astro";
---

<section class={styles.adventureContinuesContainer}>
	<h2 class={`text-style-headline-2 ${styles.title}`}>
		The adventure continues...
	</h2>
	<p class={`text-style-body-large-bold ${styles.subtitle}`}>
		There's so many more things this series comes with that we didn't have space
		to talk about. Here's just a few:
	</p>
	<!-- TODO: Add icons -->
	<ul class={styles.gridItems}>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<SitemapSvg />
			<span class={styles.gridText}
				>Explanatory charts, diagrams, and images for visual learners.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<BookSvg />
			<span class={styles.gridText}
				>Tons of companion blog posts to continue learning from.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<DownloadsSvg />
			<span class={styles.gridText}
				>An optional free download of the book's contents via PDF or ePub.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<DiscordSvg />
			<span class={styles.gridText}
				>An inclusive Discord community, with regular office hours!</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<ChallengesSvg />
			<span class={styles.gridText}
				>Code challenges at the end of each chapter to practice with.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<BuildSvg />
			<span class={styles.gridText}
				>Practical application of concepts; build an app incrementally
				throughout.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<RerenderSvg />
			<span class={styles.gridText}>Fully understand why re-renders occur.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<WriteFrameworkSvg />
			<span class={styles.gridText}>Write your own framework from scratch.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<AccessibilitySvg />
			<span class={styles.gridText}>Accessibility in code samples & more.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<BrainSvg />
			<span class={styles.gridText}
				>Discover the differences in framework philosophy.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<IncrementalSvg />
			<span class={styles.gridText}
				>Step by step learning structure. Code is introduced in order and builds
				on itself.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<ToolsSvg />
			<span class={styles.gridText}
				>Build with tools that are used by massive companies to scale their
				apps.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<NoFrameworkSvg />
			<span class={styles.gridText}
				>Few knowledge pre-requisites. Start with a basic understanding of HTML
				& JS.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<PackageSvg />
			<span class={styles.gridText}
				>In-depth explainations of core JavaScript features like "Side Effects".</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<NoTSSvg />
			<span class={styles.gridText}
				>No advanced TypeScript to worry about; just focus on the framework's
				code.</span
			>
		</li>
	</ul>
</section>
