---
import { Picture } from "@astrojs/image/components";
import styles from "./your-guide.module.scss";
---

<div class={styles.guideContainer}>
	<h2 class={`text-style-headline-2 ${styles.sectionTitle}`}>
		Your guide for the trip
	</h2>
	<Picture
		class={styles.guidePicture}
		alt="A picture of Corbin Crutchley"
		src={import("../../../../../public/content/data/crutchcorn.png")}
		widths={[96, 72, 40, 24]}
		sizes="96"
	/>
	<p class={`text-style-headline-3 ${styles.authorIntro}`}>
		Hi, I'm <span class={styles.authorName}>Corbin Crutchley</span>, the author
		of <span class={styles.seriesName}>The Framework Field Guide</span> 📒.
	</p>
	<p class={`text-style-body-medium ${styles.guideText}`}>
		With more than 8 years of web development experience and after getting to
		know these frameworks from the inside out, the 'Framework Field Guide'
		consists of knowledge I wish I had access to when I first got started.
		<br />
		<br />
		The series will take you through all the necessary stages, no matter your level
		of proficiency. My goal is to provide access to learning tools and support for
		everyone, so they can go and build their vision.
	</p>
</div>
