---
import style from "./about.module.scss";
import { Languages, UnicornInfo } from "uu-types";
import { unicorns } from "../../utils/data";
import { Picture } from "@astrojs/image/components";
import { MarkdownInstance } from "astro";
import AboutUsTranslationsHeader from "./translations-header/about-us-translations-header.astro";
import "../../styles/post-body.scss";
import { getOtherAboutLocales } from "./about-helpers";
import ContributorCard from "./contributor-card.astro";

interface AboutProps {
	locale: Languages;
	globResults: Array<MarkdownInstance<Record<string, any>>>;
}

const { locale, globResults } = Astro.props as AboutProps;

const { matchedResult, otherLocales } = getOtherAboutLocales(
	locale,
	globResults
);

const Content = matchedResult.Content;
---

<div class={style.container}>
	<div class={style.headerTitle}>
		<div class={style.unicornLogo}>
			<Picture
				src={import("../../assets/unicorn_head_1024.png")}
				loading={"eager"}
				widths={[192]}
				sizes={"192px"}
				formats={["avif", "webp", "png"]}
				alt={"Unicorn Utterances logo"}
			/>
		</div>
		<h1>About Us</h1>
	</div>
	<main class={`${style.aboutBody} post-body`}>
		<AboutUsTranslationsHeader locales={otherLocales} />
		<div><Content /></div>
		<div class={style.unicornList}>
			{unicorns.map((unicornInfo) => <ContributorCard unicorn={unicornInfo} />)}
		</div>
	</main>
</div>
