---
import style from "./contributor-card.module.scss";
import { UnicornInfo } from "uu-types";
import { Picture } from "@astrojs/image/components";
import { Button } from "components/styled";

interface CardProps {
	unicorn: UnicornInfo;
}

const { unicorn } = Astro.props as CardProps;
---

<div class={style.card}>
	<Picture
		alt={unicorn.name + " profile picture"}
		class="circleImg"
		sizes="48px"
		widths={[48]}
		aspectRatio={1}
		formats={["avif", "webp", "png"]}
		src={unicorn.profileImgMeta.relativeServerPath}
	/>

	<div>
		<span class={style.name}>{unicorn.name}</span>
		<ul
			class={style.roles}
			aria-label="Roles assigned to this user"
			role="list"
		>
			{
				unicorn.rolesMeta.map((role, i, arr) => (
					<li role="listitem">
						{[
							role.prettyname,
							i < arr.length - 1 && <span aria-hidden="true">, </span>,
						]}
					</li>
				))
			}
		</ul>
	</div>

	<Button href={`/unicorns/${unicorn.id}`}>View profile</Button>
</div>
