---
import { getFullRelativePath } from "utils/url-paths";
import SEO from "src/components/seo/seo.astro";
import "../../page-components/collections/collections.scss";
import "../../styles/post-body.scss";
import "../../styles/tabs.scss";
import "../../styles/shiki.scss";
import "../../styles/convertkit.scss";
import Document from "src/layouts/document.astro";
import { getImageSize } from "../../utils/get-image-size";
import CollectionHeaderDefault from "src/page-components/collections/collection-header-default.astro";
import CollectionTableOfContents from "src/page-components/collections/collection-table-of-contents.astro";
import { PostInfo } from "types/PostInfo";
import { PostCard } from "components/post-card/post-card";

export async function getStaticPaths() {
	const collections = await Astro.glob(
		"../../../content/collections/**/index.md"
	);

	return collections.map((collection) => {
		return {
			params: {
				slug: collection.frontmatter.slug,
			},
			props: {
				Content: collection.Content,
				collection: collection.frontmatter,
			},
		};
	});
}

interface CollectionProps {
	collection: any;
	Content: any;
}

const { Content, collection } = Astro.props as CollectionProps;

const { slug } = collection;

// TODO: support localization
const posts = await Astro.glob<PostInfo>("../../../content/blog/**/index.md");

const collectionPosts = posts
	.map((post) => post.frontmatter)
	.filter((post) => post.collectionSlug === slug)
	.sort((postA, postB) => (postA.order > postB.order ? 1 : -1));

const coverImgPath = getFullRelativePath(
	"/content/collections",
	slug,
	collection.coverImg
);

const coverImgSize = getImageSize(
	"." + coverImgPath,
	process.cwd(),
	process.cwd()
);

const coverImgAspectRatio = coverImgSize.width / coverImgSize.height;
---

<Document>
	<SEO
		title={collection.title}
		description={collection.description}
		unicornsData={collection.authors}
		publishedTime={collection.published}
		type={collection.type}
		shareImage={collection.socialImg || coverImgPath}
	/>
	<div class="collectionsContainer">
		<CollectionHeaderDefault
			coverImgPath={coverImgPath}
			coverImgAspectRatio={coverImgAspectRatio}
			collection={collection}
		/>
		<CollectionTableOfContents
			collection={collection}
			posts={collectionPosts}
		/>
		<div class="post-body markdownContainer">
			<Content />
		</div>
	</div>
</Document>
