---
import Document from "../../../layouts/document.astro";
import SEO from "components/seo/seo.astro";
import PersonPage from "src/views/person/person-page.astro";
import { Languages } from "types/index";
import * as api from "utils/api";

const params = Astro.params as { personid: string };

const locale: Languages = "en";
const person = api.getPersonById(params.personid, locale)!;

if (!person) {
	return Astro.redirect("/404");
}

const posts = api.getPostsByPerson(person.id, locale);
---

<Document size="xl">
	<SEO
		slot="head"
		title={person.name}
		description={person.description}
		peopleData={[person]}
		type="profile"
		pathName={`/people/${person.id}`}
	/>
	<main class="listViewContent">
		<PersonPage person={person} posts={posts} />
	</main>
</Document>
