---
import ffgArrow from "../icons/ffg-arrow.svg";
import ffgStar from "../icons/ffg-star.svg";
import FfgSale from "../icons/ffg-sale.astro";
import styles from "./pricing-card.module.scss";

interface PricingCardProps {
	class: string;
	isSale: boolean;
	isHighlighted: boolean;
	title: string;
	description: string;
	price: string;
	enterpriseToggle: boolean;
	enterpriseExplainer: string;
	bulletPoints: string[];
	starPoints: string[];
}

const {
	class: className,
	isSale,
	isHighlighted,
	title,
	description,
	price,
	enterpriseToggle,
	enterpriseExplainer,
	bulletPoints,
	starPoints,
} = Astro.props as PricingCardProps;
---

<li
	class={`${styles.pricingCardContainerLi}  ${
		isHighlighted ? styles.highlighted : ""
	} ${className} `}
>
	<article class={styles.pricingCardContainer}>
		{isSale && <FfgSale class={styles.saleTag} aria-label="Sale" />}
		<div class={styles.topTextContainer}>
			<div>
				<h3 class={`text-style-headline-4 ${styles.pricingTitle}`}>{title}</h3>
				<p class={`text-style-body-medium ${styles.pricingDescription}`}>
					{description}
				</p>
			</div>
			<div>
				<p class={`text-style-headline-1 ${styles.pricingPrice}`}>{price}</p>
				<p
					class={`text-style-body-small-bold ${styles.pricingEnterpriseExplainer}`}
					data-enterprise-explainer="true"
					aria-hidden={true}
				>
					{enterpriseExplainer}
				</p>
				<div aria-live="polite">
					<p
						data-explainer-sr-read="true"
						style={{ display: "none" }}
						class={`srOnly ${styles.explainerText}`}
					>
						{enterpriseExplainer}
					</p>
				</div>
			</div>
		</div>
		{
			enterpriseToggle && (
				<>
					<div class={styles.enterpriseToggleContainer}>
						<input
							aria-label="For Enterprise"
							id="enterprise-toggle"
							type="checkbox"
							checked={false}
							class={styles.enterpriseToggle}
						/>
						<p
							class={`text-style-body-medium-bold ${styles.enterpriseToggleText} ${styles.individualText}`}
							aria-hidden="true"
						>
							For Individuals
						</p>
						<p
							class={`text-style-body-medium-bold ${styles.enterpriseToggleText}`}
							aria-hidden="true"
						>
							For Enterprise
						</p>
					</div>
				</>
			)
		}
		<div>
			<slot name="button" />
		</div>
		<div>
			<hr class={styles.divider} />
		</div>
		<div class={styles.listItems}>
			<ul class={styles.bulletPoints}>
				{
					bulletPoints.map((bulletPoint) => (
						<li class="text-style-body-small-bold">
							<img alt="" src={ffgArrow.src} class={styles.listItemBullet} />
							{bulletPoint}
						</li>
					))
				}
			</ul>
			<ul
				class={`${styles.starPoints} ${
					isHighlighted ? "" : styles.removeOnMobile
				}`}
			>
				{
					starPoints.map((starPoint) => (
						<li class="text-style-body-small-bold">
							<img alt="" src={ffgStar.src} class={styles.listItemBullet} />
							{starPoint}
						</li>
					))
				}
			</ul>
		</div>
	</article>
</li>
