---
import { Picture } from "@astrojs/image/components";
import { ImageMetadata } from "@astrojs/image/dist/vite-plugin-astro-image";
import styles from "./quote-card.module.scss";

interface QuoteCardProps {
	avatarSrc: Promise<{ default: ImageMetadata }>;
	quote: string;
	personLink: string;
	personTitle: string;
	personName: string;
}

const { avatarSrc, quote, personTitle, personName, personLink } =
	Astro.props as QuoteCardProps;
---

<li class={styles.quoteCardContainerLi}>
	<article class={styles.quoteCardContainer} role="group" aria-label="Quote">
		<blockquote class={`text-style-body-medium ${styles.quoteText}`}>
			{quote}
		</blockquote>
		<div class={styles.personDetailsContainer}>
			<Picture
				class={styles.personAvatar}
				src={avatarSrc}
				alt=""
				sizes="40px"
				widths={[40]}
				aspectRatio={1}
			/>
			<div class={styles.personTextContainer}>
				<a
					href={personLink}
					class={`text-style-body-small-bold ${styles.personName}`}
					target="_blank"
					aria-label={`${personName}, opens a new tab`}
				>
					{personName}
				</a>
				<p class={`text-style-body-small ${styles.personTitle}`}>
					{personTitle}
				</p>
			</div>
		</div>
	</article>
</li>
