---
import styles from "./your-guide-text-container.module.scss";
import YourGuideTextContainerFront from "./your-guide-text-container-front.astro";
import YourGuideTextContainerBack from "./your-guide-text-container-back.astro";
---

<div class={styles.guideTextContainer}>
	<p class={`text-style-button ${styles.titleText}`}>
		<span>Staff Engineer</span>
		<span class={styles.titleDivider}>·</span>
		<a
			class={`text-style-button ${styles.titleLink}`}
			href="https://stars.github.com/profiles/crutchcorn/">GitHub Star</a
		>
	</p>
	<div class={styles.guideText}>
		<div id="guide-text-front" class={styles.guideTextFront}>
			<YourGuideTextContainerFront buttonId="read-full-story-btn" />
		</div>
		<div
			id="guide-text-back"
			aria-hidden="true"
			style="opacity: 0; z-index: -1"
			class={styles.guideTextBack}
		>
			<YourGuideTextContainerBack buttonId="show-my-info-btn" />
		</div>
	</div>
</div>

<script>
	const guideTextFront = document.getElementById("guide-text-front")!;
	const guideTextBack = document.getElementById("guide-text-back")!;
	const readFullStoryBtn = document.getElementById("read-full-story-btn")!;
	const showMyInfoBtn = document.getElementById("show-my-info-btn")!;

	readFullStoryBtn.addEventListener("click", () => {
		guideTextFront.style.opacity = "0";
		guideTextFront.style.zIndex = "-1";
		guideTextFront.setAttribute("aria-hidden", "true");
		guideTextBack.style.opacity = "1";
		guideTextBack.style.zIndex = "0";
		guideTextBack.setAttribute("aria-hidden", "false");
	});

	showMyInfoBtn.addEventListener("click", () => {
		guideTextBack.style.opacity = "0";
		guideTextBack.style.zIndex = "-1";
		guideTextBack.setAttribute("aria-hidden", "true");
		guideTextFront.style.opacity = "1";
		guideTextFront.style.zIndex = "0";
		guideTextFront.setAttribute("aria-hidden", "false");
	});
</script>
