---
import styles from "./your-guide-metrics.module.scss";
---

<ul class={styles.metricsContainer} aria-label="Metrics about Corbin">
	<li class={styles.metricItem} aria-label="70 blog posts">
		<span class={`text-style-headline-4 ${styles.metricNumber}`}>70</span>
		<br />
		<span class={`text-style-body-small ${styles.metricName}`}>Blog posts</span>
	</li>

	<li class={styles.metricItem} aria-label="1,300 hours streamed">
		<span class={`text-style-headline-4 ${styles.metricNumber}`}>1,300</span>
		<br />
		<span class={`text-style-body-small ${styles.metricName}`}
			>Hours streamed</span
		>
	</li>

	<li class={styles.metricItem} aria-label="19,000 GitHub contributions">
		<span class={`text-style-headline-4 ${styles.metricNumber}`}>19K</span>
		<br />
		<span class={`text-style-body-small ${styles.metricName}`}
			>GitHub contributions</span
		>
	</li>

	<li class={styles.metricItem} aria-label="250,000 blog reads">
		<span class={`text-style-headline-4 ${styles.metricNumber}`}>250K</span>
		<br />
		<span class={`text-style-body-small ${styles.metricName}`}>Blog reads</span>
	</li>

	<li class={styles.metricItem} aria-label="19,000,000 monthly NPM installs">
		<span class={`text-style-headline-4 ${styles.metricNumber}`}>19M</span>
		<br />
		<span class={`text-style-body-small ${styles.metricName}`}
			>Monthly NPM installs</span
		>
	</li>

	<li class={styles.metricItem} aria-label="Infinity silly jokes made">
		<span class={styles.metricNumberInfinityContainer}>
			<span class={styles.metricNumberInfinity}>∞</span>
		</span>
		<br />
		<span class={`text-style-body-small ${styles.metricName}`}
			>Silly jokes made</span
		>
	</li>
</ul>
