---
import styles from "./your-guide-text-container-back.module.scss";
import SmallFilledButton from "./small-filled-button.astro";

interface Props {
	buttonId: string;
}

const { buttonId } = Astro.props;
---

<div class={styles.container}>
	<div class={styles.innerContainer}>
		<div class={styles.static}></div>
		<h3 class={`text-style-headline-4 ${styles.title}`}>
			“Why is Framework Field Guide free?”
		</h3>

		<p class={`text-style-headline-6 ${styles.transformative}`}>
			Being in the software field has been absolutely transformative to my life.
		</p>

		<div class={styles.handwrittenContainer}>
			<div class={styles.handwrittenLines}></div>
			<p class={`${styles.handwritten} ${styles.paragraphOne}`}>
				<img
					class={styles.computerImg}
					src="/ffg-illustrations/computer.svg"
					alt=""
				/>
				When I reflect on my life, it's incredible to think about how fortunate I've
				been to make it into tech. While I'm financially very stable today, my family
				was never super well off growing up. We stayed with family when we weren't
				living in low income communities, were often in debt, and relied on our food
				stamps. So how did I get here?
			</p>

			<p class={`${styles.handwritten} ${styles.paragraphTwo}`}>
				<img
					class={styles.bigDumb}
					src="/ffg-illustrations/big_dumb.svg"
					alt=""
				/>
				Early on, it was clear that education was never going to be my forte. Due
				to several psychiatric episodes and other stressors, I dropped out of high
				school, after being diagnosed with schizo-affective disorder (schizophrenia
				and bipolar disorder combined).<span class={styles.halfFaceContainer}>
					<img
						class={styles.halfFace}
						src="/ffg-illustrations/half-face.svg"
						alt=""
					/>
				</span>
			</p>

			<p class={`${styles.handwritten} ${styles.paragraphThree}`}>
				<img
					class={styles.stormImg}
					src="/ffg-illustrations/cloud.svg"
					alt=""
				/>
				I worked a series of minimum-wage tech jobs until a storm of events, including
				my father's dual-organ transplant, jeopardized my ability to care for myself;
				much less my family. Right as everything was looking down I got my first
				major, six-figure software gig.<span
					class={styles.mouseAndKeyContainer}
				>
					<img
						class={styles.mouseImg}
						src="/ffg-illustrations/mouse.svg"
						alt=""
					/>
					<img
						class={styles.keyImg}
						src="/ffg-illustrations/enter.svg"
						alt=""
					/>
				</span>
			</p>

			<p class={`${styles.handwritten} ${styles.paragraphFour}`}>
				<img
					class={styles.sparkleImg}
					src="/ffg-illustrations/star.svg"
					alt=""
				/>
				I went from being behind on rent by three months to becoming debt-free and
				affording my medication. The money I've made in tech has been transformative
				for me, my family, and my friends.<span
					class={styles.rainboxAndStarContainer}
				>
					<img
						class={styles.rainbowImg}
						src="/ffg-illustrations/rainbow.svg"
						alt=""
					/>
					<img
						class={styles.starsImg}
						src="/ffg-illustrations/stars.svg"
						alt=""
					/></span
				>
			</p>

			<p class={`${styles.handwritten}`}>
				I didn't do it alone; I owe a lot of my career to my friends and my many
				many mentors over the years to whom I'm eternally grateful. This is why
				I made "The Framework Field Guide" free; I want to contribute back to
				the community that helped elevate me to where I am today.
			</p>

			<img
				class={styles.signature}
				src="/ffg-illustrations/signature.svg"
				alt=""
			/>
		</div>
		<p class={`${styles.handwritten} ${styles.handwrittenName}`}>
			Corbin Crutchley
		</p>
	</div>
</div>

<button
	id={buttonId}
	class={`text-style-button ffg-button-base ffg-big-button ffg-filled-button ${styles.showMyInfo}`}
	>Show my info
</button>
