---
import styles from "./search-field.module.scss";
import { Icon } from "astro-icon";

const placeholder = "Search";

const { class: className } = Astro.props;
---

<div class={`${className} ${styles.container}`}>
	<div class={`${styles.btn}`}>
		<Icon name="search" height="36" width="36" class={styles.icon} />
		<div class={styles.inputContainer}>
			<div></div>
			<input
				id="search-input"
				placeholder={placeholder}
				aria-label="Search for posts"
				class={styles.input}
			/>
		</div>
	</div>
</div>
