---
import wordCountStyles from "./word-count.module.scss";
// import { Feather as FeatherIcon } from "assets/icons/feather";
import Feather from "src/icons/feather.astro";

interface WordCountProps {
	numberOfArticles: number;
	wordCount: number;
}

const { numberOfArticles = 0, wordCount = 0 } = Astro.props as WordCountProps;
---

<div class={wordCountStyles.container}>
	<!-- <FeatherIcon class={wordCountStyles.icon} /> -->
	<Feather class={wordCountStyles.icon} />
	<p>
		{numberOfArticles}
		{numberOfArticles === 1 ? "Article" : "Articles"}
	</p>
	<div class={wordCountStyles.divider}></div>
	<p>{wordCount} Words</p>
</div>
