---
import styles from "./series-toc.module.scss";
import { ExtendedPostInfo } from "types/index";

import { findActivePost, getShortTitle } from "./base";
import { CollectionInfo } from "types/CollectionInfo";

interface SeriesTocProps {
	post: ExtendedPostInfo;
	postSeries: ExtendedPostInfo[];
	collection?: CollectionInfo;
}

const { post, postSeries, collection } = Astro.props as SeriesTocProps;

const activePostsMeta = findActivePost(post, postSeries);
---

<div class={styles.seriesTableOfContent}>
	<div class={styles.seriesHeader}>
		{
			(
				<h2 class={styles.titleContainer} id="series-header">
					<span class={`text-style-body-medium-bold ${styles.partOfSeries}`}>
						This article is part of a series:
					</span>
					{collection ? (
						<a
							class={`text-style-headline-4 ${styles.articleTitle}`}
							href={`/collections/${collection.slug}`}
						>
							{collection.title}
						</a>
					) : (
						<span class={`text-style-headline-4 ${styles.articleTitle}`}>
							{post.collection}
						</span>
					)}
				</h2>
			)
		}
	</div>
	<ol aria-labelledby="series-header" role="list">
		{
			activePostsMeta.length !== 0 ? (
				<>
					{activePostsMeta.map((seriesPost) => (
						<li
							style="margin-bottom: 2rem;"
							class={styles.navigationItem}
							data-is-active={seriesPost.isActive}
							data-dont-show-initially={!seriesPost.shouldShowInitially}
						>
							<a href={`/posts/${seriesPost.slug}`}>
								Part {seriesPost.order}: {getShortTitle(seriesPost)}
							</a>
						</li>
					))}
				</>
			) : null
		}
	</ol>
</div>

<!--<script>-->
<!--	const showMore: HTMLElement = document.querySelector(-->
<!--		"[data-in-middle-toggle]"-->
<!--	);-->
<!--	const middleChapters: HTMLElement[] = Array.from(-->
<!--		document.querySelectorAll("[data-in-middle]")-->
<!--	);-->

<!--	if (showMore) {-->
<!--		showMore.addEventListener("click", () => {-->
<!--			middleChapters.forEach((chapter) => {-->
<!--				chapter.style.display = "block";-->
<!--			});-->
<!--			showMore.parentElement.style.display = "none";-->
<!--		});-->
<!--	}-->
<!--</script>-->
