---
import styles from "./series-toc.module.scss";
import { ExtendedPostInfo } from "types/index";

import { Button } from "../../../components";
import { findActivePost, getShortTitle } from "./base";
import { CollectionInfo } from "types/CollectionInfo";

interface SeriesTocProps {
	post: ExtendedPostInfo;
	postSeries: ExtendedPostInfo[];
	collection?: CollectionInfo;
}

const { post, postSeries, collection } = Astro.props as SeriesTocProps;

const activePostsMeta = findActivePost(post, postSeries);
---

<div class={styles.seriesTableOfContent}>
	<div class={styles.seriesHeader}>
		{
			(
				<h2 class={styles.titleContainer} id="series-header">
					<span class={`text-style-body-medium-bold ${styles.partOfSeries}`}>
						This article is part of a series:
					</span>
					{collection ? (
						<a
							class={`text-style-headline-4 ${styles.articleTitle}`}
							href={`/collections/${collection.slug}`}
						>
							{collection.title}
						</a>
					) : (
						<span class={`text-style-headline-4 ${styles.articleTitle}`}>
							{post.collection}
						</span>
					)}
				</h2>
			)
		}
	</div>
	<ol aria-labelledby="series-header" role="list" class={styles.listContainer}>
		{
			activePostsMeta.length !== 0 ? (
				<>
					{activePostsMeta.map((seriesPost) => (
						<li
							class={styles.navigationItemOuter}
							data-dont-show-initially={!seriesPost.shouldShowInitially}
						>
							<a
								href={`/posts/${seriesPost.slug}`}
								class={`text-style-body-large-bold ${styles.navigationItem}`}
								data-is-active={seriesPost.isActive}
							>
								Part {seriesPost.order}: {getShortTitle(seriesPost)}
							</a>
						</li>
					))}
				</>
			) : null
		}
	</ol>
	<div class={styles.buttonContainer}>
		<Button id="toggleAllButton" tag="button">
			View all {activePostsMeta.length} chapters
		</Button>
	</div>
</div>

<script define:vars={{ postLength: activePostsMeta.length }}>
	const showMore = document.querySelector("#toggleAllButton");
	const showHideChapters = Array.from(
		document.querySelectorAll("[data-dont-show-initially]")
	);

	let expanded = false;

	showMore.addEventListener("click", () => {
		if (!expanded) {
			showHideChapters.forEach((chapter) => {
				chapter.style.display = "block";
			});
			showMore.innerText = `View less chapters`;
		} else {
			showHideChapters.forEach((chapter) => {
				chapter.style.display = "none";
			});
			showMore.innerText = `View all ${postLength} chapters`;
		}
		expanded = !expanded;
	});
</script>
