---
import styles from "./series-toc.module.scss";
import { ExtendedPostInfo } from "types/index";

import SeriesToCListItem from "./series-toc-list-item.astro";
import { seperatePostsIntoThirds } from "./base";
import { CollectionInfo } from "types/CollectionInfo";

interface SeriesTocProps {
	post: ExtendedPostInfo;
	postSeries: ExtendedPostInfo[];
	collection?: CollectionInfo;
}

const { post, postSeries, collection } = Astro.props as SeriesTocProps;

const { firstPosts, middlePosts, lastPosts } =
	seperatePostsIntoThirds(postSeries);

const isActiveInMiddle = middlePosts.some(
	(middlePost) => middlePost.order === post.order
);
---

<div class={styles.seriesTableOfContent}>
	<div class={styles.seriesHeader}>
		{
			collection ? (
				<a href={`/collections/${collection.slug}`}>
					Part of our series: {collection.title}
				</a>
			) : (
				`Part of our series: ${post.collection}`
			)
		}
	</div>
	<ol aria-labelledby="series-header" role="list">
		{
			firstPosts.map((seriesPost) => {
				const isActive = post.order === seriesPost.order;

				return (
					<SeriesToCListItem
						key={seriesPost.slug}
						isActive={isActive}
						post={seriesPost}
					/>
				);
			})
		}
		{
			middlePosts.length !== 0 ? (
				<>
					<li role="listitem" class={isActiveInMiddle ? styles.isActive : ""}>
						<button aria-expanded={false} data-in-middle-toggle="true">
							{middlePosts.length} more parts
						</button>
					</li>
					{middlePosts.map((seriesPost) => {
						const isActive = post.order === seriesPost.order;

						return (
							<SeriesToCListItem
								key={seriesPost.slug}
								isActive={isActive}
								post={seriesPost}
								inMiddle={true}
							/>
						);
					})}
				</>
			) : null
		}
		{
			lastPosts.map((seriesPost) => {
				const isActive = post.order === seriesPost.order;

				return (
					<SeriesToCListItem
						key={seriesPost.slug}
						isActive={isActive}
						post={seriesPost}
					/>
				);
			})
		}
	</ol>
</div>

<script>
	const showMore: HTMLElement = document.querySelector(
		"[data-in-middle-toggle]"
	);
	const middleChapters: HTMLElement[] = Array.from(
		document.querySelectorAll("[data-in-middle]")
	);

	if (showMore) {
		showMore.addEventListener("click", () => {
			middleChapters.forEach((chapter) => {
				chapter.style.display = "block";
			});
			showMore.parentElement.style.display = "none";
		});
	}
</script>
