---
import styles from "./series-toc.module.scss";
import { ExtendedPostInfo } from "types/index";

import { findActivePost, getShortTitle } from "./base";
import { CollectionInfo } from "types/CollectionInfo";

interface SeriesTocProps {
	post: ExtendedPostInfo;
	postSeries: ExtendedPostInfo[];
	collection?: CollectionInfo;
}

const { post, postSeries, collection } = Astro.props as SeriesTocProps;

const activePostsMeta = findActivePost(post, postSeries);
---

<div class={styles.seriesTableOfContent}>
	<div class={styles.seriesHeader}>
		{
			collection ? (
				<a href={`/collections/${collection.slug}`}>
					Part of our series: {collection.title}
				</a>
			) : (
				`Part of our series: ${post.collection}`
			)
		}
	</div>
	<ol aria-labelledby="series-header" role="list">
		{
			activePostsMeta.length !== 0 ? (
				<>
					{activePostsMeta.map((seriesPost) => (
						<table style="margin-bottom: 2rem;">
							<tr>
								<th>title</th>{" "}
								<td>
									<a href={`/posts/${seriesPost.slug}`}>
										{getShortTitle(seriesPost)}
									</a>
								</td>
							</tr>
							<tr>
								<th>isActive</th>{" "}
								<td>{seriesPost.isActive ? "true" : "false"}</td>
							</tr>
							<tr>
								<th>shouldShowInitially</th>{" "}
								<td>{seriesPost.shouldShowInitially ? "true" : "false"}</td>
							</tr>
						</table>
					))}
				</>
			) : null
		}
	</ol>
</div>

<!--<script>-->
<!--	const showMore: HTMLElement = document.querySelector(-->
<!--		"[data-in-middle-toggle]"-->
<!--	);-->
<!--	const middleChapters: HTMLElement[] = Array.from(-->
<!--		document.querySelectorAll("[data-in-middle]")-->
<!--	);-->

<!--	if (showMore) {-->
<!--		showMore.addEventListener("click", () => {-->
<!--			middleChapters.forEach((chapter) => {-->
<!--				chapter.style.display = "block";-->
<!--			});-->
<!--			showMore.parentElement.style.display = "none";-->
<!--		});-->
<!--	}-->
<!--</script>-->
