---
import styles from "./hero.module.scss";
import LeftTitleSpark from "./left-title-spark.astro";
import RightTitleSpark from "./right-title-spark.astro";
import SmallFilledButton from "./small-filled-button.astro";
import SmallOutlinedButton from "./small-outlined-button.astro";
---

<div class={`class-book-1 class-book-hero`}>
	<div class={`book-section ${styles.heroContainer}`}>
		<!-- TODO: Come back to this for mobile -->
		<p class={`text-style-body-medium-bold ${styles.introducing}`}>
			Introducing
		</p>
		<div class={styles.titleContainer} data-no-max-width>
			<div></div>
			<div class={styles.sparkContainer}><LeftTitleSpark /></div>
			<h1 class={`text-style-headline-1 ${styles.seriesTitle}`}>
				The Framework Field Guide
			</h1>
			<div class={styles.sparkContainer}><RightTitleSpark /></div>
			<div></div>
		</div>
		<p class={`text-style-headline-5 ${styles.explainer}`}>
			A free and practical way to learn <span class={styles.frameworkName}
				>Angular</span
			>, <span class={styles.frameworkName}>React</span> &
			<span class={styles.frameworkName}>Vue</span> all at once
		</p>
		<div class={styles.booksContainer}>
			<div class={styles.bookItemContainer}>
				<p class={`text-style-body-large-bold ${styles.bookPart}`}>Part 1</p>
				<p class={`text-style-headline-4 ${styles.bookPartName}`}>
					Fundamentals
				</p>
				<SmallFilledButton>Read now</SmallFilledButton>
				<p class={`text-style-body-medium-bold ${styles.bookPartBottomText}`}>
				</p>
				<div class={styles.heroLine}></div>
			</div>
			<div class={styles.bookItemContainer}>
				<p class={`text-style-body-large-bold ${styles.bookPart}`}>Part 2</p>
				<p class={`text-style-headline-4 ${styles.bookPartName}`}>Ecosystem</p>
				<SmallOutlinedButton>Learn more</SmallOutlinedButton>
				<p class={`text-style-body-medium-bold ${styles.bookPartBottomText}`}>
					Early Access
				</p>
			</div>
			<div class={styles.bookItemContainer}>
				<p class={`text-style-body-large-bold ${styles.bookPart}`}>Part 3</p>
				<p class={`text-style-headline-4 ${styles.bookPartName}`}>Internals</p>
				<SmallOutlinedButton>Learn more</SmallOutlinedButton>
				<p class={`text-style-body-medium-bold ${styles.bookPartBottomText}`}>
					Coming 2024
				</p>
				<div class={styles.heroLineBottomHider}></div>
			</div>
		</div>
		<h2 class={`text-style-headline-2 ${styles.readyToStart}`}>
			Ready to start your journey?
		</h2>
	</div>
</div>
