---
import SmallOutlinedButton from "./small-outlined-button.astro";
import SmallFilledButton from "./small-filled-button.astro";
import ffgArrow from "../icons/ffg-arrow.svg";
import ffgStar from "../icons/ffg-star.svg";
import FfgSale from "../icons/ffg-sale.astro";
import styles from "./pricing-card.module.scss";

interface PricingCardProps {
	class: string;
	isSale: boolean;
	isHighlighted: boolean;
	title: string;
	description: string;
	price: string;
	enterpriseToggle: boolean;
	enterpriseExplainer: string;
	ctaButtonType: "outlined" | "filled";
	ctaButtonText: string;
	ctaLink: string;
	bulletPoints: string[];
	starPoints: string[];
}

const {
	class: className,
	isSale,
	isHighlighted,
	title,
	description,
	price,
	enterpriseToggle,
	enterpriseExplainer,
	ctaButtonText,
	ctaLink,
	ctaButtonType,
	bulletPoints,
	starPoints,
} = Astro.props as PricingCardProps;

const CTAButton =
	ctaButtonType === "outlined" ? SmallOutlinedButton : SmallFilledButton;
---

<div
	class={`${styles.pricingCardContainer} ${
		isHighlighted ? styles.highlighted : ""
	} ${className}`}
>
	{isSale && <FfgSale class={styles.saleTag} aria-hidden="true" />}
	<div class={styles.topTextContainer}>
		<div>
			<p class={`text-style-headline-4 ${styles.pricingTitle}`}>{title}</p>
			<p class={`text-style-body-medium ${styles.pricingDescription}`}>
				{description}
			</p>
		</div>
		<div>
			<p class={`text-style-headline-1 ${styles.pricingPrice}`}>{price}</p>
			<p
				class={`text-style-body-small-bold ${styles.pricingEnterpriseExplainer}`}
				data-enterprise-explainer="true"
			>
				{enterpriseExplainer}
			</p>
		</div>
	</div>
	{
		enterpriseToggle && (
			<>
				<div class={styles.enterpriseToggleContainer}>
					<input
						aria-label="For enterprise"
						id="enterprise-toggle"
						type="checkbox"
						class={styles.enterpriseToggle}
					/>
					<p
						class={`text-style-body-medium-bold ${styles.enterpriseToggleText} ${styles.individualText}`}
						aria-hidden="true"
					>
						For individuals
					</p>
					<p
						class={`text-style-body-medium-bold ${styles.enterpriseToggleText}`}
						aria-hidden="true"
					>
						For Enterprise
					</p>
				</div>
			</>
		)
	}
	<div>
		<!-- TODO: Make it an `a` tag -->
		<CTAButton>{ctaButtonText}</CTAButton>
	</div>
	<div>
		<hr class={styles.divider} />
	</div>
	<div class={styles.listItems}>
		<ul class={styles.bulletPoints}>
			{
				bulletPoints.map((bulletPoint) => (
					<li class="text-style-body-small-bold">
						<img alt="" src={ffgArrow} class={styles.listItemBullet} />
						{bulletPoint}
					</li>
				))
			}
		</ul>
		<ul class={styles.starPoints}>
			{
				starPoints.map((starPoint) => (
					<li class="text-style-body-small-bold">
						<img alt="" src={ffgStar} class={styles.listItemBullet} />
						{starPoint}
					</li>
				))
			}
		</ul>
	</div>
</div>
