---
import { Picture } from "@astrojs/image/components";
import { ImageMetadata } from "@astrojs/image/dist/vite-plugin-astro-image";
import styles from "./prominent-quote.module.scss";

interface QuoteCardProps {
	avatarSrc: Promise<{ default: ImageMetadata }>;
	quote: string;
	personLink: string;
	personTitle: string;
	personName: string;
}

const { avatarSrc, quote, personTitle, personName } =
	Astro.props as QuoteCardProps;
---

<div class={styles.quoteContainer}>
	<p class={`text-style-body-large ${styles.quoteText}`}>
		{quote}
	</p>
	<Picture
		class={styles.quoteAvatar}
		alt=""
		src={avatarSrc}
		sizes="96"
		widths={[96]}
		formats={["avif", "webp", "png"]}
	/>
	<div>
		<p class={`text-style-body-medium-bold ${styles.quotePersonName}`}>
			{personName}
		</p>
	</div>
	<p class={`text-style-body-medium ${styles.quotePersonTitle}`}>
		{personTitle}
	</p>
</div>
