---
import { Picture } from "@astrojs/image/components";
import { ImageMetadata } from "@astrojs/image/dist/vite-plugin-astro-image";
import styles from "./quote-card.module.scss";

interface QuoteCardProps {
	avatarSrc: Promise<{ default: ImageMetadata }>;
	quote: string;
	personTitle: string;
	personName: string;
}

const { avatarSrc, quote, personTitle, personName } =
	Astro.props as QuoteCardProps;
---

<div class={styles.quoteCardContainer}>
	<p class={`text-style-body-small ${styles.quoteText}`}>{quote}</p>
	<div>
		<Picture src={avatarSrc} alt="" sizes="100px" widths={[100]} />
		<div>
			<p class={`text-style-body-small-bold`}>{personName}</p>
			<p class={`text-style-body-small`}>{personTitle}</p>
		</div>
	</div>
</div>
