---
import styles from "./signup-form.module.scss";
---

<form
	action="https://app.convertkit.com/forms/1254394/subscriptions"
	method="post"
	class={styles.signUpFormContainer}
>
	<label class={styles.inputContainer}>
		<span class={`text-style-body-medium-bold ${styles.inputLabel}`}>Name</span>
		<input
			class={`text-style-body-medium ${styles.input}`}
			name="fields[first_name]"
			type="text"
		/>
	</label>
	<label class={`${styles.inputContainer} ${styles.emailInput}`}>
		<span class={`text-style-body-medium-bold ${styles.inputLabel}`}
			>Email address</span
		>
		<input
			class={`text-style-body-medium ${styles.input}`}
			name="email_address"
			required={true}
			type="email"
		/>
	</label>
	<div class={styles.hideOnDesktop}></div>
	<button
		class={`text-style-button ffg-button-base ffg-small-button ffg-outlined-button ${styles.signUpButton}`}
		type="submit">Sign up</button
	>
</form>
