---
import styles from "./profile-section.module.scss";
import { Picture as UUPicture } from "components/index";
import { UnicornInfo } from "types/index";
import Icon from "astro-icon";
import * as api from "utils/api";
import type { ProfilePictureMap } from "utils/get-unicorn-profile-pic-map";
import { isDefined } from "utils/is-defined";

interface ProfileSectionProps {
	unicornProfilePicMap: ProfilePictureMap;
	unicorn: UnicornInfo;
}

const { unicornProfilePicMap, unicorn } = Astro.props as ProfileSectionProps;

const iconSize = 20;

const socials = [
	unicorn.socials.website && {
		icon: "website",
		name: "Website",
		href: unicorn.socials.website,
	},
	unicorn.socials.github && {
		icon: "github",
		name: "GitHub",
		href: `https://github.com/${unicorn.socials.github}`,
	},
	unicorn.socials.gitlab && {
		icon: "gitlab",
		name: "GitLab",
		href: `https://gitlab.com/${unicorn.socials.gitlab}`,
	},
	unicorn.socials.twitter && {
		icon: "twitter",
		name: "Twitter",
		href: `https://twitter.com/${unicorn.socials.twitter}`,
	},
	unicorn.socials.twitch && {
		icon: "twitch",
		name: "Twitch",
		href: `https://www.twitch.tv/${unicorn.socials.twitch}`,
	},
	unicorn.socials.dribbble && {
		icon: "ci:dribbble",
		name: "Dribbble",
		href: `https://dribbble.com/${unicorn.socials.dribbble}`,
	},
	unicorn.socials.linkedIn && {
		icon: "linkedin",
		name: "LinkedIn",
		href: `https://www.linkedin.com/in/${unicorn.socials.linkedIn}`,
	},
	unicorn.socials.mastodon && {
		icon: "mastodon",
		name: "Mastodon",
		href: unicorn.socials.mastodon,
	},
	unicorn.socials.threads && {
		icon: "threads",
		name: "Threads",
		href: `https://www.threads.net/${unicorn.socials.threads}`,
	},
	unicorn.socials.youtube && {
		icon: "youtube",
		name: "YouTube",
		href: unicorn.socials.youtube,
	},
	unicorn.socials.cohost && {
		icon: "cohost",
		name: "Cohost",
		href: `https://cohost.org/${unicorn.socials.cohost}`,
	},
].filter((s) => !!s) as {
	icon: string;
	name: string;
	href: string;
}[];

const roles = unicorn.roles
	.map((roleId) => api.getRoleById(roleId, unicorn.locale))
	.filter(isDefined);
---

<section class={styles.container}>
	<div class={styles.cardContainer}>
		<div class={styles.nameAndDesc}>
			<UUPicture
				picture={unicornProfilePicMap.find((u) => u.id === unicorn.id)!}
				alt=""
				class={styles.authorImage}
			/>
			<div>
				<div class={styles.nameAndPronouns}>
					<h1 class={`text-style-headline-4 ${styles.name}`}>{unicorn.name}</h1>
					{
						unicorn.pronouns && (
							<h2 class={`text-style-body-medium-bold ${styles.pronouns}`}>
								{unicorn.pronouns}
							</h2>
						)
					}
				</div>
				<p class={`text-style-body-medium ${styles.bio}`}>
					{unicorn.description}
				</p>
			</div>
		</div>
		<ul
			class={styles.socialLinkContainer}
			role="list"
			aria-label={`${unicorn.name} social media links`}
		>
			{
				socials.map((social) => (
					<li>
						<a
							rel="me"
							href={social.href}
							class={`text-style-button-regular ${styles.socialLink}`}
						>
							<Icon
								width={iconSize}
								height={iconSize}
								name={social.icon}
								class={styles.linkIcon}
							/>
							{social.name}
						</a>
					</li>
				))
			}
		</ul>
		<ul class={styles.rolesList} role="list" aria-label="Contributor roles">
			{
				roles.map((role) => (
					<li class={styles.role}>
						<img
							src={`/stickers/role_${role.id}.svg`}
							alt=""
							class={`${styles.rolePic}`}
						/>
						<span class={`text-style-body-small-bold ${styles.roleName}`}>
							{role.prettyname}
						</span>
					</li>
				))
			}
		</ul>
	</div>
</section>
