---
import styles from "./fundamentals-fundamentals.module.scss";
import "../../framework-field-guide/components/shared-section-styling.scss";
import FundamentalsBookCover from "../../framework-field-guide/segments/fundamentals-book-cover.astro";
import WhatYouNeed from "../components/what-you-need.astro";
import CollectionTableOfContents from "../components/collection-table-of-contents-fundamentals.astro";
import { PostInfo } from "types/PostInfo";
import { unicorns } from "utils/data";

const frontmatter = {
	title: "The Framework Field Guide - Fundamentals",
	associatedSeries: "Framework Field Guide",
	description:
		"A practical and free way to teach Angular, React, and Vue all at once, so you can choose the right tool for the job and learn the underlying concepts in depth.",
	authors: ["crutchcorn"],
	coverImg: "/custom-content/collections/framework-field-guide/cover.png",
	socialImg:
		"/custom-content/collections/framework-field-guide/framework_field_guide_social.png",
	type: "book",
	published: "2023-01-01T13:45:00.284Z",
	buttons: [{ text: "Read now", url: "/posts/preface" }],
	authorsMeta: [unicorns.find((uni) => uni.id === "crutchcorn")],
};

const posts = await Astro.glob<PostInfo>(
	"../../../../../content/blog/**/index.md"
);

const chapterList = posts
	.map((post) => post.frontmatter)
	.filter((post) => post.series === "The Framework Field Guide")
	.sort((postA, postB) => (postA.order > postB.order ? 1 : -1));
---

<section data-change-color-to="fund">
	<FundamentalsBookCover />

	<div class="class-book-1">
		<div class={`book-section`} style="background: var(--section-background);">
			<WhatYouNeed />
			<CollectionTableOfContents collection={frontmatter} posts={chapterList} />
			<section>
				<h2 class={`book-bio text-style-headline-2 ${styles.sectionTitle}`}>
					What you'll learn
				</h2>

				<div class={`${styles.stepCardContainer}`}>
					<div class={`${styles.stepCard}`}>
						<div class={styles.descriptionContainer}>
							<h2 class="book-bio text-style-headline-5">
								Write your first components
							</h2>
							<p class={`text-style-body-medium ${styles.description}`}>
								Get your introduction to components - learn what they are and
								why they're useful.
							</p>
						</div>
						<h2 class={`text-style-headline-2 ${styles.stepCardNumber}`}>1</h2>
						<ul class={`${styles.stepCardItems}`}>
							<li>
								<p class={styles.stepCardItemBullet}>Dynamic HTML</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>Lifecycle methods</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>Derived values</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>Forms</p>
							</li>
						</ul>
					</div>
					<div class={`${styles.stepCard}`}>
						<div class={styles.descriptionContainer}>
							<h2 class="book-bio text-style-headline-5">
								Control component hierarchy
							</h2>
							<p class={`text-style-body-medium ${styles.description}`}>
								Just like HTML elements, components form relationships with
								one-another
							</p>
						</div>
						<h2 class={`text-style-headline-2 ${styles.stepCardNumber}`}>2</h2>
						<ul class={`${styles.stepCardItems}`}>
							<li>
								<p class={styles.stepCardItemBullet}>
									Projected Content Reference
								</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>
									Access underlying DOM nodes
								</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>Dependency injection</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>
									Access Component's intenrals
								</p>
							</li>
						</ul>
					</div>
					<div class={`${styles.stepCard}`}>
						<div class={styles.descriptionContainer}>
							<h2 class="book-bio text-style-headline-5">
								Share component logic
							</h2>
							<p class={`text-style-body-medium ${styles.description}`}>
								A huge boon to components is that you can easily share code in
								your apps.
							</p>
						</div>
						<h2 class={`text-style-headline-2 ${styles.stepCardNumber}`}>3</h2>
						<ul class={`${styles.stepCardItems}`}>
							<li>
								<p class={styles.stepCardItemBullet}>React Hooks</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>Angular services</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>Vue Custom Compositions</p>
							</li>
							<li>
								<p class={styles.stepCardItemBullet}>Directives</p>
							</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>
</section>
