---
import styles from "./post-metadata.module.scss";
import UserProfilePic from "components/user-profile-pic/user-profile-pic.astro";
import dayjs from "dayjs";
import { PostInfo } from "types/PostInfo";

interface PostMetadataProps {
  post: PostInfo;
}

const { post } = Astro.props as PostMetadataProps;

const { authorsMeta } = post;

let originalHost;
if (post.originalLink) {
  const url = new URL(post.originalLink);
  originalHost = url.host;
}

const publishedStr = dayjs(post.published).format("MMMM D, YYYY");

// TODO: Add profile picture clicking back
---

<div class={styles.container}>
  <UserProfilePic authors={authorsMeta} class={styles.postMetadataAuthorImagesContainer} />
  <div class={styles.textDiv}>
    <h2 class={styles.authorName} data-testid="post-meta-author-name">
      <span>by </span>
      {authorsMeta.map((author, i) => {
      return (
      <>
        {i !== 0 && <span>{", "}</span>}
        <a href={`/unicorns/${author.id}`} class={styles.authorLink}>
          {author.name}
        </a>
      </>
      );
      })}
    </h2>
    <div class={styles.belowName}>
      <p>{publishedStr}</p>
      <p>{post.wordCount} words</p>
    </div>
  </div>
  {!!post.originalLink && (
  <p class={styles.originalLink}>
    Originally posted at&nbsp;
    <a href={post.originalLink} target="_blank" rel="nofollow noopener noreferrer">
      {originalHost}
    </a>
  </p>
  )}
</div>