---
import style from "./snitip.module.scss";
import { Icon } from "astro-icon/components";
---

<template id="snitip-template">
	<div popover="manual" class={style.popover}>
		<svg
			id="snitip-arrow"
			width="24"
			height="14"
			viewBox="0 0 24 14"
			fill="none"
			class={style.arrow}
			data-placement="bottom"
		>
			<path
				d="M 2 -1 L 11.2 11.6 C 11.6 12.1333 12.4 12.1333 12.8 11.6 L 22 -1 Z"
				fill="var(--snitip_background-color)"></path>
			<path
				d="M 2 -1 L 11.2 11.6 C 11.6 12.1333 12.4 12.1333 12.8 11.6 L 22 -1"
				stroke="var(--snitip_border-color)"
				stroke-width="var(--snitip_border-width)"></path>
		</svg>
		<div class={style.container}>
			<h1 id="snitip-title" class={style.title}></h1>
			<div id="snitip-body" class={style.description}></div>
			<ul id="snitip-links" class={style.links}></ul>
		</div>
	</div>
</template>

<template id="snitip-link-template">
	<li>
		<a id="snitip-link" class={style.links__item}>
			<Icon width={18} height={18} name="link" />
		</a>
	</li>
</template>

<script>
	import "./snitip-script-impl";
</script>
