---
import { CollectionInfo, PersonInfo } from "../../types";
import { Picture } from "components/image/picture";
import { LargeButton } from "components/button/button";
import { desktopSmall } from "src/tokens/breakpoints";
import { MarkdownHtml } from "utils/markdown";
import Content from "utils/markdown/components/content.astro";
import AuthorCard from "components/author-card/author-card.astro";

import "../../styles/post-body.scss";
import "../../styles/shiki.scss";
import "../../styles/convertkit.scss";

import styles from "./collection-page.module.scss";

interface Props {
	collection: CollectionInfo;
	collectionHtml: MarkdownHtml;
	authors: PersonInfo[];
}

const { collection, collectionHtml, authors } = Astro.props as Props;

const coverImgAspectRatio =
	collection.coverImgMeta.width / collection.coverImgMeta.height;
// adjust the image width to ensure its height=720px
// (i.e. it shouldn't get upscaled/downscaled with `object-fit: cover`)
const coverImgWidth = Math.max(480, Math.ceil(720 * coverImgAspectRatio));
---

<section class={styles.collectionPageContainer}>
	<div class={styles.collectionPageInnerContainer}>
		<div class={styles.coverImage}>
			<Picture
				alt=""
				src={collection.coverImgMeta.relativeServerPath}
				width={coverImgWidth}
				height={720}
				sizes={{
					360: { maxWidth: desktopSmall },
				}}
				loading="eager"
			/>
		</div>
		<div class={styles.titleAndDescContainer}>
			<h1 class={`text-style-headline-1 ${styles.title}`}>
				{collection.title}
			</h1>
			<p class={`text-style-headline-6 ${styles.description}`}>
				{collection.description}
			</p>
		</div>
		<div class={styles.contentContainer}>
			<div class={`post-body ${styles.content}`}>
				<Content content={collectionHtml.content} />
			</div>
			<div class={styles.buttonContainer}>
				{
					collection.buttons?.map((button, i) => (
						<LargeButton
							tag="a"
							href={button.url}
							variant={i === 0 ? "primary-emphasized" : "primary"}
						>
							{button.text}
						</LargeButton>
					))
				}
			</div>
			<ul
				class={styles.authorsList}
				role="list"
				aria-label="Collection authors"
			>
				{
					authors.map((author) => {
						return (
							<li class={styles.authorContainer}>
								<AuthorCard author={author} />
							</li>
						);
					})
				}
			</ul>
		</div>
	</div>
</section>
