---
import style from "./blog-post-layout.module.scss";

interface BlogPostLayoutProps {
	hideLeftSidebar?: boolean;
}

const { hideLeftSidebar } = Astro.props as BlogPostLayoutProps;
---

<article class={style.container} data-hide-left-sidebar={hideLeftSidebar}>
	<div class={style.header}>
		<slot name="header" />
	</div>
	<div class={style.sidebarLeft}>
		<slot name="left" />
	</div>
	<div class={style.content}>
		<slot />
	</div>
	<div class={style.sidebarRight}>
		<slot name="right" />
	</div>
</article>
