---
import style from "./about.module.scss";
import "../../styles/shiki.scss";
import * as data from "src/utils/data";
import ContributorCard from "./contributor-card.astro";
import { getTranslatedPage, translate } from "src/utils/translations";
import TranslationsHeader from "src/views/base/translations/translations-header.astro";
import { License } from "./license";
import BannerSvg from "./banner-svg.astro";

const about = getTranslatedPage(
	Astro,
	await Astro.glob("../../../content/site/about-us*.mdx"),
);

const tags = [...data.tags.values()].filter(
	(tag) => !!tag.image && !!tag.explainerHtml,
);
---

<div class="container">
	<div class={style.banner}>
		<BannerSvg />
	</div>
	<main class={`${style.aboutBody} post-body`}>
		<TranslationsHeader locales={about.locales} />

		<about.page.Content />

		<hr />

		<h2 id="contributors">
			{translate(Astro, "title.contributors")}
		</h2>
		<div class={style.unicorns}>
			{
				data.unicorns.map((unicornInfo) => (
					<ContributorCard unicorn={unicornInfo} />
				))
			}
		</div>

		<hr />

		<h2 id="licenses">{translate(Astro, "title.licenses")}</h2>

		<div class={style.licenses}>
			{
				tags.map((tag) => (
					<License
						client:visible
						name={tag.displayName}
						explainerHtml={tag.explainerHtml}
						image={tag.image}
						action={
							tag.explainerType === "license"
								? translate(Astro, "action.view_license")
								: translate(Astro, "action.view_attribution")
						}
					/>
				))
			}
		</div>

		<hr />
	</main>
</div>
