---
import style from "./about.module.scss";
import * as data from "src/utils/data";
import { Picture } from "@astrojs/image/components";
import AboutUsTranslationsHeader from "./translations-header/about-us-translations-header.astro";
import ContributorCard from "./contributor-card.astro";
import { getTranslatedPage, translate } from "src/utils/translations";
import { Button } from "components/base";
import { Icon } from "astro-icon";

const about = getTranslatedPage(
	Astro,
	await Astro.glob("../../../content/site/about-us*.md")
);
const sponsors = getTranslatedPage(
	Astro,
	await Astro.glob("../../../content/site/sponsors*.md")
);
---

<div class="container">
	<div class={style.headerTitle}>
		<div class={style.unicornLogo}>
			<Picture
				src={import("../../assets/unicorn_head_1024.png")}
				loading={"eager"}
				widths={[192]}
				sizes={"192px"}
				formats={["avif", "webp", "png"]}
				alt={"Unicorn Utterances logo"}
			/>
		</div>
		<h1>{translate(Astro, "title.about_us")}</h1>
	</div>
	<main class={`${style.aboutBody} post-body`}>
		<AboutUsTranslationsHeader locales={about.locales} />
		<about.page.Content />

		<div class={`${style.links} d-flex text-center`}>
			{
				Object.entries(data.about.links).map(([name, link]) => (
					<Button variant="primary" href={link.url}>
						<Icon width="24" height="24" name={link.icon} />
						{name}
					</Button>
				))
			}
		</div>

		<h2>{translate(Astro, "title.sponsors")}</h2>
		<sponsors.page.Content />

		<h2>{translate(Astro, "title.contributors")}</h2>
		<div class="grid grid-2">
			{
				data.unicorns.map((unicornInfo) => (
					<ContributorCard unicorn={unicornInfo} />
				))
			}
		</div>
	</main>
</div>
