---
import style from "./about.module.scss";
import * as data from "src/utils/data";
import { Picture } from "@astrojs/image/components";
import ContributorCard from "./contributor-card.astro";
import { getTranslatedPage, translate } from "src/utils/translations";
import { Button } from "components/index";
import { Icon } from "astro-icon";
import TranslationsHeader from "../base/translations/translations-header.astro";

const about = getTranslatedPage(
	Astro,
	await Astro.glob("../../../content/site/about-us*.mdx"),
);
---

<div class="container">
	<div class="d-flex text-center">
		<Picture
			src={import("../../assets/unicorn_utterances_logo_512.png")}
			loading={"eager"}
			widths={[192, 56]}
			sizes={"192px"}
			formats={["avif", "webp", "png"]}
			alt={"Unicorn Utterances logo"}
			class={style.unicornLogo}
		/>
		<h1 class="text-style-headline-1">{translate(Astro, "title.about_us")}</h1>
	</div>
	<main class={`${style.aboutBody} post-body`}>
		<TranslationsHeader locales={about.locales} />
		<about.page.Content />

		<hr />

		<h2 class="center">{translate(Astro, "title.contributors")}</h2>
		<div class={style.unicorns}>
			{
				data.unicorns.map((unicornInfo) => (
					<ContributorCard unicorn={unicornInfo} />
				))
			}
		</div>

		<hr />

		<h2>Licenses & attributions</h2>
	</main>
</div>
