---
import { escape } from "html-escaper";
import fs from "fs/promises";
import { getPeopleByLang } from "utils/api";
import { getPicture } from "utils/get-picture";

const sticker_star = await fs.readFile(
	"public/stickers/sticker_star.svg",
	"utf-8",
);
const sticker_author = await fs.readFile(
	"public/stickers/role_author.svg",
	"utf-8",
);
const sticker_community = await fs.readFile(
	"public/stickers/role_community.svg",
	"utf-8",
);
const sticker_developer = await fs.readFile(
	"public/stickers/role_developer.svg",
	"utf-8",
);

const people = getPeopleByLang("en")
	.sort((_) => 0.5 - Math.random())
	.slice(0, 28);

const personImages = await Promise.all(
	people.map(async (person, i) => {
		const aspectRatio =
			person.profileImgMeta.width / person.profileImgMeta.height;

		let size = i < 8 ? 80 : i < 16 ? 72 : 64;

		// adjust the image width to ensure its height=80px
		// (i.e. it shouldn't get upscaled/downscaled with `object-fit: cover`)
		const width = Math.max(size, Math.ceil(size * aspectRatio));

		const images = getPicture({
			height: size,
			width,
			src: person.profileImgMeta.relativeServerPath,
		}).urls.avif;
		if (!images)
			throw new Error(
				`Could not resolve picture for ${person.name} in banner-svg.astro.`,
			);

		const image = images[width] ?? Object.values(images).at(0);
		if (!image)
			throw new Error(
				`Could not find an appropriate image size in banner-svg.astro.`,
			);

		return `
		<image class="bannerSvgImage" width="96" height="96" xlink:href="${escape(
			image,
		)}" preserveAspectRatio="xMidYMid slice" transform="scale(0.0104167)"></image>
	`.trim();
	}),
);
---

<svg
	width="640"
	height="560"
	viewBox="0 0 640 560"
	fill="none"
	xmlns="http://www.w3.org/2000/svg"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	class="bannerSvg"
	role="img"
	aria-labelledby="about-banner-svg-title"
>
	<title id="about-banner-svg-title">
		A smiling unicorn with a bowtie, surrounded by a circle of faces of people
		who've contributed to the project.
	</title>
	<g>
		<mask
			id="mask0_5681_47057"
			style="mask-type:alpha"
			maskUnits="userSpaceOnUse"
			x="0"
			y="0"
			width="640"
			height="561"
		>
			<path
				d="M640 280.002C640 446.055 486.053 560.002 320 560.002C153.947 560.002 0 446.055 0 280.002C0 113.949 153.947 0.00195312 320 0.00195312C486.053 0.00195312 640 113.949 640 280.002Z"
				fill="url(#paint0_radial_5681_47057)"></path>
		</mask>
		<g mask="url(#mask0_5681_47057)">
			<circle cx="251.117" cy="113.701" r="40" fill="url(#pattern0)"></circle>
			<circle cx="251.117" cy="113.701" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="388.883" cy="446.297" r="40" fill="url(#pattern1)"></circle>
			<circle cx="388.883" cy="446.297" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="388.883" cy="113.701" r="40" fill="url(#pattern2)"></circle>
			<circle cx="388.883" cy="113.701" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="251.116" cy="446.299" r="40" fill="url(#pattern3)"></circle>
			<circle cx="251.116" cy="446.299" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="486.298" cy="211.117" r="40" fill="url(#pattern4)"></circle>
			<circle cx="486.298" cy="211.117" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="153.701" cy="348.883" r="40" fill="url(#pattern5)"></circle>
			<circle cx="153.701" cy="348.883" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="486.299" cy="348.883" r="40" fill="url(#pattern6)"></circle>
			<circle cx="486.299" cy="348.883" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="153.702" cy="211.115" r="40" fill="url(#pattern7)"></circle>
			<circle cx="153.702" cy="211.115" r="40" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="151.035" cy="110.379" r="36" fill="url(#pattern8)"></circle>
			<circle cx="151.035" cy="110.379" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="490.446" cy="449.791" r="36" fill="url(#pattern9)"></circle>
			<circle cx="490.446" cy="449.791" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="320.928" cy="39.7227" r="36" fill="url(#pattern10)"></circle>
			<circle cx="320.928" cy="39.7227" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="320.928" cy="519.723" r="36" fill="url(#pattern11)"></circle>
			<circle cx="320.928" cy="519.723" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="489.869" cy="110.434" r="36" fill="url(#pattern12)"></circle>
			<circle cx="489.869" cy="110.434" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="150.458" cy="449.844" r="36" fill="url(#pattern13)"></circle>
			<circle cx="150.458" cy="449.844" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="560.525" cy="280.326" r="36" fill="url(#pattern14)"></circle>
			<circle cx="560.525" cy="280.326" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="80.5254" cy="280.326" r="36" fill="url(#pattern15)"></circle>
			<circle cx="80.5254" cy="280.326" r="36" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="212.849" cy="21.3125" r="32" fill="url(#pattern16)"></circle>
			<circle cx="212.849" cy="21.3125" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="427.151" cy="538.686" r="32" fill="url(#pattern17)"></circle>
			<circle cx="427.151" cy="538.686" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="427.08" cy="21.2676" r="32" fill="url(#pattern18)"></circle>
			<circle cx="427.08" cy="21.2676" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="212.776" cy="538.641" r="32" fill="url(#pattern19)"></circle>
			<circle cx="212.776" cy="538.641" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="578.686" cy="172.848" r="32" fill="url(#pattern20)"></circle>
			<circle cx="578.686" cy="172.848" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="61.3135" cy="387.15" r="32" fill="url(#pattern21)"></circle>
			<circle cx="61.3135" cy="387.15" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="578.731" cy="387.08" r="32" fill="url(#pattern22)"></circle>
			<circle cx="578.731" cy="387.08" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="61.3584" cy="172.777" r="32" fill="url(#pattern23)"></circle>
			<circle cx="61.3584" cy="172.777" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="125.195" cy="26.125" r="32" fill="url(#pattern24)"></circle>
			<circle cx="125.195" cy="26.125" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="514.803" cy="533.871" r="32" fill="url(#pattern25)"></circle>
			<circle cx="514.803" cy="533.871" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="66.2539" cy="84.5098" r="32" fill="url(#pattern26)"></circle>
			<circle cx="66.2539" cy="84.5098" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>
			<circle cx="574.001" cy="474.117" r="32" fill="url(#pattern27)"></circle>
			<circle cx="574.001" cy="474.117" r="32" fill="#87CEFF" fill-opacity="0.2"
			></circle>

			<g
				transform="translate(414.317 157.507) rotate(-10)"
				set:html={sticker_star}
			/>
			<g
				transform="translate(70.3683 383.962) rotate(-30)"
				set:html={sticker_star}
			/>
			<g
				transform="translate(510.896 365.012) rotate(14)"
				set:html={sticker_author}
			/>
			<g
				transform="translate(173.065 110.734) rotate(10)"
				set:html={sticker_community}
			/>
			<g
				transform="translate(210.152 465.584) rotate(5)"
				set:html={sticker_developer}
			/>

			<mask
				id="path-32-outside-1_5681_47057"
				maskUnits="userSpaceOnUse"
				x="502.243"
				y="249.244"
				width="36.7696"
				height="36.7696"
				fill="black"
			>
				<rect
					fill="white"
					x="502.243"
					y="249.244"
					width="36.7696"
					height="36.7696"></rect>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M519.388 257.958C521.92 261.048 521.991 263.259 521.219 265.885C520.889 267.006 520.005 267.89 518.884 268.22C516.258 268.992 514.047 268.921 510.957 266.389C507.687 263.708 509.748 261.537 512.142 259.143C514.536 256.749 516.707 254.688 519.388 257.958ZM530.297 268.868C527.208 266.335 524.997 266.264 522.371 267.037C521.25 267.367 520.366 268.251 520.036 269.372C519.264 271.998 519.334 274.209 521.867 277.298C524.548 280.568 526.718 278.508 529.113 276.114C531.507 273.719 533.567 271.549 530.297 268.868Z"
				></path>
			</mask>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M519.388 257.958C521.92 261.048 521.991 263.259 521.219 265.885C520.889 267.006 520.005 267.89 518.884 268.22C516.258 268.992 514.047 268.921 510.957 266.389C507.687 263.708 509.748 261.537 512.142 259.143C514.536 256.749 516.707 254.688 519.388 257.958ZM530.297 268.868C527.208 266.335 524.997 266.264 522.371 267.037C521.25 267.367 520.366 268.251 520.036 269.372C519.264 271.998 519.334 274.209 521.867 277.298C524.548 280.568 526.718 278.508 529.113 276.114C531.507 273.719 533.567 271.549 530.297 268.868Z"
				fill="#87CEFF"></path>
			<path
				d="M521.219 265.885L525.056 267.014L525.056 267.014L521.219 265.885ZM519.388 257.958L522.481 255.422L519.388 257.958ZM518.884 268.22L517.755 264.382L517.755 264.382L518.884 268.22ZM510.957 266.389L508.422 269.482L508.422 269.482L510.957 266.389ZM522.371 267.037L523.499 270.874L523.499 270.874L522.371 267.037ZM530.297 268.868L527.761 271.961L530.297 268.868ZM520.036 269.372L523.874 270.5L523.874 270.5L520.036 269.372ZM521.867 277.298L518.774 279.834L521.867 277.298ZM525.056 267.014C525.537 265.38 525.873 263.484 525.474 261.358C525.076 259.238 524.029 257.311 522.481 255.422L516.294 260.494C517.279 261.695 517.533 262.419 517.611 262.833C517.688 263.241 517.673 263.764 517.381 264.756L525.056 267.014ZM520.013 272.057C522.438 271.344 524.343 269.439 525.056 267.014L517.381 264.756C517.435 264.572 517.571 264.436 517.755 264.382L520.013 272.057ZM508.422 269.482C510.31 271.03 512.237 272.077 514.357 272.475C516.483 272.874 518.379 272.538 520.013 272.057L517.755 264.382C516.763 264.674 516.24 264.689 515.832 264.612C515.418 264.534 514.695 264.28 513.493 263.295L508.422 269.482ZM509.314 256.315C508.731 256.897 508.018 257.613 507.398 258.367C506.786 259.111 506.07 260.119 505.644 261.355C505.182 262.696 505.083 264.254 505.676 265.854C506.234 267.356 507.271 268.538 508.422 269.482L513.493 263.295C513.009 262.898 513.078 262.804 513.176 263.071C513.23 263.215 513.266 263.397 513.264 263.591C513.262 263.778 513.226 263.909 513.207 263.962C513.187 264.021 513.231 263.869 513.576 263.449C513.913 263.04 514.356 262.586 514.971 261.971L509.314 256.315ZM522.481 255.422C521.538 254.271 520.355 253.235 518.853 252.677C517.253 252.083 515.695 252.183 514.354 252.645C513.118 253.071 512.11 253.787 511.366 254.399C510.612 255.019 509.896 255.732 509.314 256.315L514.971 261.971C515.585 261.357 516.039 260.914 516.448 260.577C516.868 260.232 517.02 260.188 516.961 260.208C516.908 260.227 516.777 260.263 516.59 260.265C516.396 260.267 516.214 260.231 516.07 260.177C515.803 260.078 515.897 260.01 516.294 260.494L522.481 255.422ZM523.499 270.874C524.492 270.582 525.014 270.568 525.423 270.644C525.837 270.722 526.56 270.977 527.761 271.961L532.833 265.775C530.945 264.227 529.018 263.179 526.898 262.782C524.772 262.383 522.875 262.719 521.242 263.2L523.499 270.874ZM523.874 270.5C523.819 270.684 523.683 270.82 523.499 270.874L521.242 263.2C518.817 263.913 516.912 265.818 516.199 268.243L523.874 270.5ZM524.961 274.762C523.976 273.561 523.721 272.838 523.644 272.424C523.567 272.015 523.582 271.493 523.874 270.5L516.199 268.243C515.718 269.876 515.382 271.773 515.781 273.899C516.178 276.019 517.226 277.946 518.774 279.834L524.961 274.762ZM526.284 273.285C525.67 273.9 525.216 274.342 524.806 274.679C524.386 275.025 524.235 275.069 524.294 275.048C524.347 275.03 524.477 274.994 524.665 274.992C524.859 274.99 525.041 275.026 525.185 275.079C525.452 275.178 525.357 275.246 524.961 274.762L518.774 279.834C519.717 280.985 520.9 282.022 522.402 282.58C524.002 283.173 525.56 283.074 526.901 282.612C528.137 282.186 529.145 281.47 529.888 280.858C530.643 280.237 531.358 279.525 531.941 278.942L526.284 273.285ZM527.761 271.961C528.245 272.358 528.177 272.452 528.078 272.186C528.025 272.042 527.989 271.86 527.991 271.665C527.993 271.478 528.029 271.348 528.047 271.295C528.068 271.235 528.024 271.387 527.678 271.807C527.341 272.217 526.899 272.671 526.284 273.285L531.941 278.942C532.524 278.359 533.236 277.644 533.857 276.889C534.469 276.145 535.185 275.138 535.611 273.902C536.073 272.561 536.172 271.003 535.579 269.403C535.021 267.901 533.984 266.718 532.833 265.775L527.761 271.961Z"
				fill="white"
				mask="url(#path-32-outside-1_5681_47057)"></path>
			<circle
				cx="520.627"
				cy="267.628"
				r="5"
				transform="rotate(45 520.627 267.628)"
				fill="#007FB4"></circle>
			<mask
				id="path-35-outside-2_5681_47057"
				maskUnits="userSpaceOnUse"
				x="97.5528"
				y="260.796"
				width="36.086"
				height="27.6007"
				fill="black"
			>
				<rect
					fill="white"
					x="97.5528"
					y="260.796"
					width="36.086"
					height="27.6007"></rect>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M109.687 266.842C113.425 268.251 114.592 270.131 115.236 272.791C115.511 273.927 115.187 275.135 114.382 275.98C112.494 277.963 110.543 279.007 106.602 278.358C102.429 277.671 103.128 274.761 104.005 271.491C104.881 268.22 105.731 265.351 109.687 266.842ZM124.59 270.835C120.648 270.187 118.698 271.231 116.81 273.213C116.004 274.059 115.68 275.267 115.955 276.402C116.599 279.063 117.766 280.942 121.504 282.351C125.461 283.843 126.311 280.973 127.187 277.703C128.063 274.432 128.762 271.522 124.59 270.835Z"
				></path>
			</mask>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M109.687 266.842C113.425 268.251 114.592 270.131 115.236 272.791C115.511 273.927 115.187 275.135 114.382 275.98C112.494 277.963 110.543 279.007 106.602 278.358C102.429 277.671 103.128 274.761 104.005 271.491C104.881 268.22 105.731 265.351 109.687 266.842ZM124.59 270.835C120.648 270.187 118.698 271.231 116.81 273.213C116.004 274.059 115.68 275.267 115.955 276.402C116.599 279.063 117.766 280.942 121.504 282.351C125.461 283.843 126.311 280.973 127.187 277.703C128.063 274.432 128.762 271.522 124.59 270.835Z"
				fill="#87CEFF"></path>
			<path
				d="M115.236 272.791L119.124 271.85L119.124 271.85L115.236 272.791ZM109.687 266.842L111.098 263.099L109.687 266.842ZM114.382 275.98L111.486 273.221L111.486 273.222L114.382 275.98ZM106.602 278.358L105.952 282.305L105.952 282.305L106.602 278.358ZM116.81 273.213L119.706 275.972L119.706 275.972L116.81 273.213ZM124.59 270.835L123.941 274.782L124.59 270.835ZM115.955 276.402L119.843 275.461L119.843 275.461L115.955 276.402ZM121.504 282.351L120.093 286.094L121.504 282.351ZM119.124 271.85C118.723 270.195 118.066 268.385 116.658 266.743C115.253 265.106 113.383 263.961 111.098 263.099L108.276 270.585C109.73 271.133 110.312 271.632 110.586 271.952C110.857 272.267 111.105 272.727 111.349 273.733L119.124 271.85ZM117.278 278.739C119.022 276.909 119.719 274.307 119.124 271.85L111.349 273.732C111.303 273.546 111.353 273.36 111.486 273.221L117.278 278.739ZM105.952 282.305C108.361 282.701 110.554 282.645 112.589 281.929C114.63 281.212 116.104 279.972 117.278 278.739L111.486 273.222C110.772 273.971 110.327 274.244 109.935 274.382C109.537 274.522 108.784 274.663 107.251 274.411L105.952 282.305ZM100.141 270.456C99.9277 271.252 99.6683 272.228 99.5082 273.191C99.3502 274.141 99.2339 275.372 99.4831 276.656C99.7533 278.048 100.446 279.447 101.76 280.536C102.994 281.558 104.483 282.063 105.952 282.305L107.251 274.411C106.633 274.309 106.645 274.194 106.864 274.375C106.983 274.473 107.105 274.613 107.2 274.782C107.292 274.945 107.326 275.076 107.337 275.131C107.349 275.193 107.311 275.04 107.4 274.503C107.487 273.98 107.644 273.365 107.868 272.526L100.141 270.456ZM111.098 263.099C109.706 262.574 108.163 262.267 106.583 262.536C104.901 262.822 103.601 263.687 102.671 264.757C101.813 265.745 101.299 266.868 100.961 267.77C100.618 268.685 100.354 269.66 100.141 270.456L107.868 272.526C108.093 271.687 108.265 271.077 108.451 270.58C108.642 270.07 108.752 269.957 108.71 270.004C108.674 270.046 108.579 270.143 108.418 270.238C108.25 270.337 108.075 270.397 107.923 270.423C107.643 270.47 107.691 270.364 108.276 270.585L111.098 263.099ZM119.706 275.972C120.42 275.223 120.865 274.949 121.257 274.811C121.655 274.671 122.408 274.53 123.941 274.782L125.24 266.888C122.83 266.492 120.638 266.549 118.603 267.264C116.562 267.982 115.088 269.221 113.914 270.454L119.706 275.972ZM119.843 275.461C119.888 275.647 119.838 275.833 119.706 275.972L113.914 270.454C112.17 272.284 111.473 274.886 112.068 277.343L119.843 275.461ZM122.915 278.608C121.462 278.06 120.88 277.562 120.606 277.241C120.335 276.926 120.087 276.467 119.843 275.461L112.068 277.343C112.468 278.998 113.125 280.809 114.534 282.45C115.938 284.087 117.809 285.233 120.093 286.094L122.915 278.608ZM123.323 276.667C123.098 277.507 122.927 278.117 122.741 278.614C122.549 279.123 122.44 279.237 122.481 279.189C122.518 279.147 122.613 279.051 122.774 278.955C122.941 278.856 123.117 278.796 123.268 278.771C123.549 278.723 123.501 278.829 122.915 278.608L120.093 286.094C121.486 286.619 123.028 286.926 124.608 286.658C126.29 286.372 127.59 285.507 128.52 284.436C129.378 283.449 129.893 282.325 130.231 281.423C130.574 280.509 130.837 279.534 131.051 278.738L123.323 276.667ZM123.941 274.782C124.558 274.884 124.546 275 124.327 274.818C124.209 274.72 124.087 274.581 123.992 274.411C123.9 274.248 123.866 274.117 123.855 274.062C123.843 274 123.881 274.154 123.792 274.69C123.705 275.214 123.548 275.828 123.323 276.667L131.051 278.738C131.264 277.942 131.523 276.966 131.683 276.002C131.841 275.052 131.958 273.822 131.709 272.538C131.438 271.146 130.745 269.746 129.431 268.658C128.197 267.636 126.708 267.13 125.24 266.888L123.941 274.782Z"
				fill="white"
				mask="url(#path-35-outside-2_5681_47057)"></path>
			<circle
				cx="115.596"
				cy="274.596"
				r="5"
				transform="rotate(15 115.596 274.596)"
				fill="#007FB4"></circle>
			<mask
				id="path-38-outside-3_5681_47057"
				maskUnits="userSpaceOnUse"
				x="508.337"
				y="372.045"
				width="31.3257"
				height="29.9115"
				fill="black"
			>
				<rect
					fill="white"
					x="508.337"
					y="372.045"
					width="31.3257"
					height="29.9115"></rect>
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M515.445 376.426C515.731 375.359 516.828 374.726 517.895 375.012L520.793 375.788L531.418 378.635C532.485 378.921 533.118 380.018 532.832 381.085L529.208 394.608L533.072 395.643L532.555 397.575C532.269 398.642 531.172 399.275 530.105 398.989L528.173 398.471L516.582 395.366C515.515 395.08 514.882 393.983 515.168 392.916L518.791 379.393L514.928 378.358L515.445 376.426Z"
				></path>
			</mask>
		</g>
		<circle cx="320" cy="280" r="96" fill="white"></circle>
		<circle cx="320" cy="280" r="96.5" stroke="#0B1D28" stroke-opacity="0.16"
		></circle>
		<path
			d="M289.494 201.475L272.359 172.08V210.526C259.74 219.181 249.595 231.18 243.199 245.245H227.256L232.127 255.276L232.182 255.377C232.626 256.183 233.102 257.087 233.633 258.094L233.66 258.145C234.66 260.041 235.827 262.254 237.128 264.447C236.175 269.523 235.676 274.759 235.676 280.112C235.676 326.683 273.429 364.436 320 364.436C366.244 364.436 403.794 327.212 404.319 281.093C405.154 280.139 405.842 279.119 406.405 278.073C408.505 274.164 408.823 269.724 408.979 267.551L408.993 267.369C409.023 266.946 409.044 266.662 409.066 266.442L409.736 259.8L401.605 258.784C401.038 256.613 400.387 254.476 399.657 252.377L409.101 251.433V245.245C409.101 237.132 407.051 230.558 401.732 226.494C396.86 222.772 390.746 222.455 386.311 222.455H381.533C366.148 206.042 344.272 195.787 320 195.787C309.242 195.787 298.954 197.802 289.494 201.475Z"
			fill="#127DB3"></path>
		<path
			d="M276.93 305.425V274.02L248.699 299.427L250.116 301.114C255.289 307.273 260.748 309.334 265.564 309.334C270.255 309.334 274.001 307.379 275.915 306.102L276.93 305.425Z"
			fill="#82C3D9"></path>
		<path
			d="M276.93 305.425V274.02L248.699 299.427L250.116 301.114C255.289 307.273 260.748 309.334 265.564 309.334C270.255 309.334 274.001 307.379 275.915 306.102L276.93 305.425Z"
			fill="url(#paint4_radial_5681_47057)"></path>
		<path
			d="M276.917 249.804V188.951L299.872 228.33C286.879 231.525 278.239 240.145 277.056 249.804H276.917Z"
			fill="url(#paint5_linear_5681_47057)"></path>
		<path
			d="M352.109 288.363C348.408 292.476 344.373 295.453 340.236 297.507L361.471 333.906L361.102 334.912C357.425 344.964 350.059 351.059 342.241 354.608C334.463 358.138 326.145 359.197 320.218 359.197C293.546 359.197 280.828 343.723 277.101 335.026L276.917 334.596V274.034C271.488 276.567 266.704 277.626 262.447 277.501C257.288 277.349 253.108 275.463 249.693 272.719C246.317 270.005 243.702 266.465 241.566 262.982C240.12 260.622 238.82 258.158 237.665 255.968C237.139 254.97 236.642 254.029 236.176 253.181L234.536 249.804H277.056C278.554 237.576 292.002 227.014 311.102 227.014H386.311C390.715 227.014 395.413 227.404 398.965 230.117C402.664 232.942 404.543 237.791 404.543 245.246V247.309L362.076 251.555C360.308 251.732 358.962 253.219 358.962 254.996C358.962 256.739 360.26 258.21 361.99 258.426L404.754 263.772L404.532 265.986C404.501 266.283 404.476 266.638 404.446 267.04C404.286 269.255 404.024 272.875 402.39 275.916C401.37 277.815 399.809 279.55 397.453 280.733C395.126 281.903 392.176 282.457 388.479 282.278C386.404 282.177 384.179 281.973 381.942 281.769C380.905 281.674 379.866 281.579 378.837 281.494C375.529 281.22 372.214 281.034 368.987 281.205C362.561 281.545 356.687 283.277 352.109 288.363Z"
			fill="#F0FBFF"></path>
		<path
			d="M352.109 288.363C348.408 292.476 344.373 295.453 340.236 297.507L361.471 333.906L361.102 334.912C357.425 344.964 350.059 351.059 342.241 354.608C334.463 358.138 326.145 359.197 320.218 359.197C293.546 359.197 280.828 343.723 277.101 335.026L276.917 334.596V274.034C271.488 276.567 266.704 277.626 262.447 277.501C257.288 277.349 253.108 275.463 249.693 272.719C246.317 270.005 243.702 266.465 241.566 262.982C240.12 260.622 238.82 258.158 237.665 255.968C237.139 254.97 236.642 254.029 236.176 253.181L234.536 249.804H277.056C278.554 237.576 292.002 227.014 311.102 227.014H386.311C390.715 227.014 395.413 227.404 398.965 230.117C402.664 232.942 404.543 237.791 404.543 245.246V247.309L362.076 251.555C360.308 251.732 358.962 253.219 358.962 254.996C358.962 256.739 360.26 258.21 361.99 258.426L404.754 263.772L404.532 265.986C404.501 266.283 404.476 266.638 404.446 267.04C404.286 269.255 404.024 272.875 402.39 275.916C401.37 277.815 399.809 279.55 397.453 280.733C395.126 281.903 392.176 282.457 388.479 282.278C386.404 282.177 384.179 281.973 381.942 281.769C380.905 281.674 379.866 281.579 378.837 281.494C375.529 281.22 372.214 281.034 368.987 281.205C362.561 281.545 356.687 283.277 352.109 288.363Z"
			fill="url(#paint6_linear_5681_47057)"></path>
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M320.416 252.949C321.799 252.377 323.28 252.082 324.777 252.082C326.274 252.082 327.755 252.377 329.137 252.949C330.521 253.522 331.776 254.362 332.835 255.42C333.892 256.478 334.732 257.734 335.304 259.117C335.877 260.499 336.173 261.981 336.173 263.477H331.614C331.614 262.579 331.437 261.69 331.094 260.861C330.75 260.031 330.246 259.278 329.611 258.643C328.976 258.008 328.223 257.504 327.394 257.161C326.564 256.817 325.675 256.64 324.777 256.64C323.879 256.64 322.99 256.817 322.16 257.161C321.331 257.504 320.577 258.008 319.942 258.643C319.308 259.278 318.804 260.031 318.46 260.861C318.117 261.69 317.94 262.579 317.94 263.477H313.382C313.382 261.981 313.677 260.499 314.249 259.117C314.822 257.734 315.661 256.478 316.719 255.42C317.778 254.362 319.034 253.522 320.416 252.949Z"
			fill="#2A2933"></path>
		<path
			d="M356.684 303.116V314.272C356.684 316.955 355.575 319.251 353.866 320.869L356.963 326.178C350.008 331.659 338.188 335.267 324.777 335.267C303.379 335.267 286.033 326.083 286.033 314.755C286.033 303.428 303.379 294.244 324.777 294.244C338.01 294.244 349.694 297.757 356.684 303.116Z"
			fill="url(#paint7_radial_5681_47057)"></path>
		<path
			d="M319.286 314.699C325.293 311.177 325.293 302.491 319.286 298.969L306.596 291.532C300.519 287.968 292.87 292.351 292.87 299.395V314.273C292.87 321.317 300.519 325.7 306.596 322.138L319.286 314.699Z"
			fill="#153E67"></path>
		<path
			d="M319.286 314.699C325.293 311.177 325.293 302.491 319.286 298.969L306.596 291.532C300.519 287.968 292.87 292.351 292.87 299.395V314.273C292.87 321.317 300.519 325.7 306.596 322.138L319.286 314.699Z"
			fill="url(#paint8_radial_5681_47057)"></path>
		<path
			d="M330.268 314.699C324.26 311.177 324.26 302.491 330.268 298.969L342.957 291.532C349.034 287.968 356.684 292.351 356.684 299.395V314.273C356.684 321.317 349.034 325.7 342.957 322.138L330.268 314.699Z"
			fill="#153E67"></path>
		<path
			d="M330.268 314.699C324.26 311.177 324.26 302.491 330.268 298.969L342.957 291.532C349.034 287.968 356.684 292.351 356.684 299.395V314.273C356.684 321.317 349.034 325.7 342.957 322.138L330.268 314.699Z"
			fill="url(#paint9_radial_5681_47057)"></path>
		<path
			d="M324.777 296.746C318.484 296.746 313.382 301.848 313.382 308.141C313.382 314.435 318.484 319.536 324.777 319.536C331.07 319.536 336.173 314.435 336.173 308.141C336.173 301.848 331.07 296.746 324.777 296.746Z"
			fill="#266999"></path>
	</g>
	<defs>
		{
			personImages.map((html, i) => (
				<pattern
					id={"pattern" + i}
					patternContentUnits="objectBoundingBox"
					width="1"
					height="1"
					set:html={html}
				/>
			))
		}
		<radialGradient
			id="paint0_radial_5681_47057"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="translate(320 280.002) rotate(90) scale(280 320)"
		>
			<stop offset="0.457129" stop-opacity="1"></stop>
			<stop offset="0.71153" stop-opacity="0.33"></stop>
			<stop offset="0.965931" stop-opacity="0"></stop>
		</radialGradient>
		<linearGradient
			id="paint1_linear_5681_47057"
			x1="515.79"
			y1="375.138"
			x2="518.08"
			y2="379.44"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#FF6A00" stop-opacity="0"></stop>
			<stop offset="1" stop-color="#FF6A00"></stop>
		</linearGradient>
		<linearGradient
			id="paint2_linear_5681_47057"
			x1="526.29"
			y1="375.881"
			x2="520.423"
			y2="397.775"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#FF6A00" stop-opacity="0"></stop>
			<stop offset="1" stop-color="#FF6A00"></stop>
		</linearGradient>
		<linearGradient
			id="paint3_linear_5681_47057"
			x1="525.11"
			y1="393.164"
			x2="524.074"
			y2="397.028"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#FF6A00" stop-opacity="0"></stop>
			<stop offset="1" stop-color="#FF6A00"></stop>
		</linearGradient>
		<radialGradient
			id="paint4_radial_5681_47057"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="translate(248.429 299.371) rotate(-41.7428) scale(49.6345 50.7134)"
		>
			<stop stop-color="white" stop-opacity="0"></stop>
			<stop offset="1" stop-color="#085099" stop-opacity="0.9"></stop>
		</radialGradient>
		<linearGradient
			id="paint5_linear_5681_47057"
			x1="288.312"
			y1="234.99"
			x2="276.917"
			y2="189.41"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="#E68A99"></stop>
			<stop offset="1" stop-color="#FFC2E9"></stop>
		</linearGradient>
		<linearGradient
			id="paint6_linear_5681_47057"
			x1="319.645"
			y1="227.014"
			x2="319.645"
			y2="359.197"
			gradientUnits="userSpaceOnUse"
		>
			<stop stop-color="white" stop-opacity="0"></stop>
			<stop offset="1" stop-color="#E4F4FF"></stop>
		</linearGradient>
		<radialGradient
			id="paint7_radial_5681_47057"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="translate(324.777 315.895) rotate(90) scale(12.5347 37.4783)"
		>
			<stop stop-color="#266999" stop-opacity="0.2"></stop>
			<stop offset="1" stop-color="#153E67" stop-opacity="0"></stop>
		</radialGradient>
		<radialGradient
			id="paint8_radial_5681_47057"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="translate(324.777 322.163) rotate(-90) scale(27.9182 27.9182)"
		>
			<stop stop-color="#262833"></stop>
			<stop offset="1" stop-color="#262833" stop-opacity="0"></stop>
		</radialGradient>
		<radialGradient
			id="paint9_radial_5681_47057"
			cx="0"
			cy="0"
			r="1"
			gradientUnits="userSpaceOnUse"
			gradientTransform="translate(324.777 322.163) rotate(-90) scale(27.9182 27.9182)"
		>
			<stop stop-color="#262833"></stop>
			<stop offset="1" stop-color="#262833" stop-opacity="0"></stop>
		</radialGradient>
	</defs>
</svg>
