---
import fs from "fs/promises";
import { getPeopleByLang } from "utils/api";
import style from "./banner-svg.module.scss";
import { Picture } from "components/image/picture";

const sticker_star = await fs.readFile(
	"public/stickers/sticker_star.svg",
	"utf-8",
);
const sticker_author = await fs.readFile(
	"public/stickers/role_author.svg",
	"utf-8",
);
const sticker_community = await fs.readFile(
	"public/stickers/role_community.svg",
	"utf-8",
);
const sticker_developer = await fs.readFile(
	"public/stickers/role_developer.svg",
	"utf-8",
);

const people = getPeopleByLang("en")
	.sort((_) => 0.5 - Math.random())
	.slice(0, 28);

const positions: Array<{ x: number; y: number; r: number }> = [
	{ x: 251.117, y: 113.701, r: 40 },
	{ x: 388.883, y: 446.297, r: 40 },
	{ x: 388.883, y: 113.701, r: 40 },
	{ x: 251.116, y: 446.299, r: 40 },
	{ x: 486.298, y: 211.117, r: 40 },
	{ x: 153.701, y: 348.883, r: 40 },
	{ x: 486.299, y: 348.883, r: 40 },
	{ x: 153.702, y: 211.115, r: 40 },
	{ x: 151.035, y: 110.379, r: 36 },
	{ x: 490.446, y: 449.791, r: 36 },
	{ x: 320.928, y: 39.723, r: 36 },
	{ x: 320.928, y: 519.723, r: 36 },
	{ x: 489.869, y: 110.434, r: 36 },
	{ x: 150.458, y: 449.844, r: 36 },
	{ x: 560.525, y: 280.326, r: 36 },
	{ x: 80.525, y: 280.326, r: 36 },
	{ x: 212.849, y: 21.313, r: 32 },
	{ x: 427.151, y: 538.686, r: 32 },
	{ x: 427.08, y: 21.268, r: 32 },
	{ x: 212.776, y: 538.641, r: 32 },
	{ x: 578.686, y: 172.848, r: 32 },
	{ x: 61.314, y: 387.15, r: 32 },
	{ x: 578.731, y: 387.08, r: 32 },
	{ x: 61.358, y: 172.777, r: 32 },
	{ x: 125.358, y: 26.125, r: 32 },
	{ x: 514.803, y: 533.871, r: 32 },
	{ x: 66.254, y: 84.51, r: 32 },
	{ x: 574.001, y: 474.117, r: 32 },
];
---

<div
	class={style.banner}
	role="img"
	aria-label="A smiling unicorn with a bowtie, surrounded by a circle of faces of people who've contributed to the project."
	id="banner-container"
>
	{
		positions.map(({ x, y, r }, i) => (
			<Picture
				width={r * 2}
				height={r * 2}
				pictureAttrs={{
					style: `--x: ${(x * 100) / 640}%; --y: ${(y * 100) / 560}%; --r: ${r / 6.4}%;`,
				}}
				src={people[i].profileImgMeta.relativeServerPath}
				class={style.personImage}
				alt=""
			/>
		))
	}

	<div
		style="left: 64.73%; top: 28.13%; transform: rotate(-10deg);"
		class={style.sticker}
		set:html={sticker_star}
		aria-hidden
	/>
	<div
		style="left: 10.99%; top: 68.56%; transform: rotate(-30deg);"
		class={style.sticker}
		set:html={sticker_star}
		aria-hidden
	/>
	<div
		style="left: 79.83%; top: 65.18%; transform: rotate(14deg);"
		class={style.sticker}
		set:html={sticker_author}
		aria-hidden
	/>
	<div
		style="left: 27.04%; top: 19.77%; transform: rotate(10deg);"
		class={style.sticker}
		set:html={sticker_community}
		aria-hidden
	/>
	<div
		style="left: 32.84%; top: 83.14%; transform: rotate(5deg);"
		class={style.sticker}
		set:html={sticker_developer}
		aria-hidden
	/>

	<svg
		width="640"
		height="560"
		viewBox="0 0 640 560"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
		xmlns:xlink="http://www.w3.org/1999/xlink"
		class={style.logo}
		aria-hidden
	>
		<g>
			<circle cx="320" cy="280" r="96" fill="white"></circle>
			<circle cx="320" cy="280" r="96.5" stroke="#0B1D28" stroke-opacity="0.16"
			></circle>
			<path
				d="M289.494 201.475L272.359 172.08V210.526C259.74 219.181 249.595 231.18 243.199 245.245H227.256L232.127 255.276L232.182 255.377C232.626 256.183 233.102 257.087 233.633 258.094L233.66 258.145C234.66 260.041 235.827 262.254 237.128 264.447C236.175 269.523 235.676 274.759 235.676 280.112C235.676 326.683 273.429 364.436 320 364.436C366.244 364.436 403.794 327.212 404.319 281.093C405.154 280.139 405.842 279.119 406.405 278.073C408.505 274.164 408.823 269.724 408.979 267.551L408.993 267.369C409.023 266.946 409.044 266.662 409.066 266.442L409.736 259.8L401.605 258.784C401.038 256.613 400.387 254.476 399.657 252.377L409.101 251.433V245.245C409.101 237.132 407.051 230.558 401.732 226.494C396.86 222.772 390.746 222.455 386.311 222.455H381.533C366.148 206.042 344.272 195.787 320 195.787C309.242 195.787 298.954 197.802 289.494 201.475Z"
				fill="#127DB3"></path>
			<path
				d="M276.93 305.425V274.02L248.699 299.427L250.116 301.114C255.289 307.273 260.748 309.334 265.564 309.334C270.255 309.334 274.001 307.379 275.915 306.102L276.93 305.425Z"
				fill="#82C3D9"></path>
			<path
				d="M276.93 305.425V274.02L248.699 299.427L250.116 301.114C255.289 307.273 260.748 309.334 265.564 309.334C270.255 309.334 274.001 307.379 275.915 306.102L276.93 305.425Z"
				fill="url(#paint4_radial_5681_47057)"></path>
			<path
				d="M276.917 249.804V188.951L299.872 228.33C286.879 231.525 278.239 240.145 277.056 249.804H276.917Z"
				fill="url(#paint5_linear_5681_47057)"></path>
			<path
				d="M352.109 288.363C348.408 292.476 344.373 295.453 340.236 297.507L361.471 333.906L361.102 334.912C357.425 344.964 350.059 351.059 342.241 354.608C334.463 358.138 326.145 359.197 320.218 359.197C293.546 359.197 280.828 343.723 277.101 335.026L276.917 334.596V274.034C271.488 276.567 266.704 277.626 262.447 277.501C257.288 277.349 253.108 275.463 249.693 272.719C246.317 270.005 243.702 266.465 241.566 262.982C240.12 260.622 238.82 258.158 237.665 255.968C237.139 254.97 236.642 254.029 236.176 253.181L234.536 249.804H277.056C278.554 237.576 292.002 227.014 311.102 227.014H386.311C390.715 227.014 395.413 227.404 398.965 230.117C402.664 232.942 404.543 237.791 404.543 245.246V247.309L362.076 251.555C360.308 251.732 358.962 253.219 358.962 254.996C358.962 256.739 360.26 258.21 361.99 258.426L404.754 263.772L404.532 265.986C404.501 266.283 404.476 266.638 404.446 267.04C404.286 269.255 404.024 272.875 402.39 275.916C401.37 277.815 399.809 279.55 397.453 280.733C395.126 281.903 392.176 282.457 388.479 282.278C386.404 282.177 384.179 281.973 381.942 281.769C380.905 281.674 379.866 281.579 378.837 281.494C375.529 281.22 372.214 281.034 368.987 281.205C362.561 281.545 356.687 283.277 352.109 288.363Z"
				fill="#F0FBFF"></path>
			<path
				d="M352.109 288.363C348.408 292.476 344.373 295.453 340.236 297.507L361.471 333.906L361.102 334.912C357.425 344.964 350.059 351.059 342.241 354.608C334.463 358.138 326.145 359.197 320.218 359.197C293.546 359.197 280.828 343.723 277.101 335.026L276.917 334.596V274.034C271.488 276.567 266.704 277.626 262.447 277.501C257.288 277.349 253.108 275.463 249.693 272.719C246.317 270.005 243.702 266.465 241.566 262.982C240.12 260.622 238.82 258.158 237.665 255.968C237.139 254.97 236.642 254.029 236.176 253.181L234.536 249.804H277.056C278.554 237.576 292.002 227.014 311.102 227.014H386.311C390.715 227.014 395.413 227.404 398.965 230.117C402.664 232.942 404.543 237.791 404.543 245.246V247.309L362.076 251.555C360.308 251.732 358.962 253.219 358.962 254.996C358.962 256.739 360.26 258.21 361.99 258.426L404.754 263.772L404.532 265.986C404.501 266.283 404.476 266.638 404.446 267.04C404.286 269.255 404.024 272.875 402.39 275.916C401.37 277.815 399.809 279.55 397.453 280.733C395.126 281.903 392.176 282.457 388.479 282.278C386.404 282.177 384.179 281.973 381.942 281.769C380.905 281.674 379.866 281.579 378.837 281.494C375.529 281.22 372.214 281.034 368.987 281.205C362.561 281.545 356.687 283.277 352.109 288.363Z"
				fill="url(#paint6_linear_5681_47057)"></path>
			<path
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M320.416 252.949C321.799 252.377 323.28 252.082 324.777 252.082C326.274 252.082 327.755 252.377 329.137 252.949C330.521 253.522 331.776 254.362 332.835 255.42C333.892 256.478 334.732 257.734 335.304 259.117C335.877 260.499 336.173 261.981 336.173 263.477H331.614C331.614 262.579 331.437 261.69 331.094 260.861C330.75 260.031 330.246 259.278 329.611 258.643C328.976 258.008 328.223 257.504 327.394 257.161C326.564 256.817 325.675 256.64 324.777 256.64C323.879 256.64 322.99 256.817 322.16 257.161C321.331 257.504 320.577 258.008 319.942 258.643C319.308 259.278 318.804 260.031 318.46 260.861C318.117 261.69 317.94 262.579 317.94 263.477H313.382C313.382 261.981 313.677 260.499 314.249 259.117C314.822 257.734 315.661 256.478 316.719 255.42C317.778 254.362 319.034 253.522 320.416 252.949Z"
				fill="#2A2933"></path>
			<path
				d="M356.684 303.116V314.272C356.684 316.955 355.575 319.251 353.866 320.869L356.963 326.178C350.008 331.659 338.188 335.267 324.777 335.267C303.379 335.267 286.033 326.083 286.033 314.755C286.033 303.428 303.379 294.244 324.777 294.244C338.01 294.244 349.694 297.757 356.684 303.116Z"
				fill="url(#paint7_radial_5681_47057)"></path>
			<path
				d="M319.286 314.699C325.293 311.177 325.293 302.491 319.286 298.969L306.596 291.532C300.519 287.968 292.87 292.351 292.87 299.395V314.273C292.87 321.317 300.519 325.7 306.596 322.138L319.286 314.699Z"
				fill="#153E67"></path>
			<path
				d="M319.286 314.699C325.293 311.177 325.293 302.491 319.286 298.969L306.596 291.532C300.519 287.968 292.87 292.351 292.87 299.395V314.273C292.87 321.317 300.519 325.7 306.596 322.138L319.286 314.699Z"
				fill="url(#paint8_radial_5681_47057)"></path>
			<path
				d="M330.268 314.699C324.26 311.177 324.26 302.491 330.268 298.969L342.957 291.532C349.034 287.968 356.684 292.351 356.684 299.395V314.273C356.684 321.317 349.034 325.7 342.957 322.138L330.268 314.699Z"
				fill="#153E67"></path>
			<path
				d="M330.268 314.699C324.26 311.177 324.26 302.491 330.268 298.969L342.957 291.532C349.034 287.968 356.684 292.351 356.684 299.395V314.273C356.684 321.317 349.034 325.7 342.957 322.138L330.268 314.699Z"
				fill="url(#paint9_radial_5681_47057)"></path>
			<path
				d="M324.777 296.746C318.484 296.746 313.382 301.848 313.382 308.141C313.382 314.435 318.484 319.536 324.777 319.536C331.07 319.536 336.173 314.435 336.173 308.141C336.173 301.848 331.07 296.746 324.777 296.746Z"
				fill="#266999"></path>
		</g>
	</svg>
</div>
