---
import style from "./contributor-card.module.scss";
import { UnicornInfo } from "uu-types";
import { Picture } from "@astrojs/image/components";
import { Button } from "components/base";
import { translate } from "src/utils/translations";

interface CardProps {
	unicorn: UnicornInfo;
}

const { unicorn } = Astro.props as CardProps;
---

<div class={style.card}>
	<Picture
		alt={unicorn.name + " profile picture"}
		class="circleImg"
		sizes="48px"
		widths={[48]}
		aspectRatio={1}
		formats={["avif", "webp", "png"]}
		src={unicorn.profileImgMeta.relativeServerPath}
	/>

	<div>
		<span class={`${style.name} text-style-body-medium-bold`}>
			{unicorn.name}
		</span>
		<ul
			class={`${style.roles} text-style-body-small-bold`}
			aria-label={translate(Astro, "desc.unicorn_roles")}
			role="list"
		>
			{
				unicorn.rolesMeta.map((role, i, arr) => (
					<li role="listitem">
						{[
							role.prettyname,
							i < arr.length - 1 && <span aria-hidden="true">, </span>,
						]}
					</li>
				))
			}
		</ul>
	</div>

	<Button href={`/unicorns/${unicorn.id}`}>
		{translate(Astro, "action.view_profile")}
	</Button>
</div>
