---
import "../../framework-field-guide/components/shared-section-styling.scss";
import SignupForm from "../../framework-field-guide/components/signup-form.astro";
import EcosystemBookCover from "../../framework-field-guide/segments/ecosystem-book-cover.astro";
import styles from "./ecosystem-fundamentals.module.scss";
---

<section data-change-color-to="ecos">
	<div class="class-book-2">
		<div class="book-section" style="background: var(--section-background);">
			<h2
				data-no-max-width
				id="ecosystem-title"
				class={`text-style-headline-1 book-title`}
			>
				Ready for the next step?
			</h2>
			<p class={`text-style-headline-6 ${styles.subtext}`}>
				Are you familiar with the fundamentals and want to learn more?
				<br />
				Then, it's time for <a
					class={`${styles.links}`}
					href="/collections/framework-field-guide#ecosystem-title">Ecosystem</a
				>, the next part of the
				<a class={`${styles.links}`} href="/collections/framework-field-guide"
					>Framework Field Guide</a
				>.
			</p>
		</div>
	</div>
	<EcosystemBookCover />
	<div class="class-book-2">
		<div class="book-section" style="background: var(--section-background);">
			<p
				class={`text-style-headline-4 ${styles.highEmphasis} ${styles.inDevelopment}`}
			>
				Ecosystem is still under development
			</p>
			<p
				class={`text-style-headline-6 ${styles.mediumEmphasis} ${styles.inDevelopmentTwo}`}
			>
				A late 2024 release is expected. In the meantime, sign up to get updates
				on the book!
			</p>
			<div class={styles.signUpContainer}>
				<SignupForm />
			</div>
			<p
				class={`text-style-body-medium ${styles.mediumEmphasis} ${styles.emailWarning}`}
			>
				All of the emails sent out will be strictly about important updates
				regarding the progress of the books.
			</p>
		</div>
	</div>
</section>
