---
import style from "./post-title-header.module.scss";
import { ExtendedPostInfo } from "types/index";
import { Icon } from "astro-icon";
import { Chip } from "components/index";
import dayjs from "dayjs";

interface PostTitleHeaderProps {
	post: ExtendedPostInfo;
}
const { post } = Astro.props as PostTitleHeaderProps;
const { title, tags } = post;

const publishedStr = dayjs(post.published).format("MMMM D, YYYY");
const editedStr = post.edited && dayjs(post.edited).format("MMMM D, YYYY");
---

<header role="banner" class={style.container}>
	<h1 class={style.title}>{title}</h1>

	<div class={style.details}>
		<div class={style.date}>
			<Icon width="24" height="24" name="date" />
			<p class="text-style-button-regular">
				{publishedStr}
				{
					editedStr && editedStr !== publishedStr ? (
						<span class={style.date__edited}>Last updated: {editedStr}</span>
					) : null
				}
			</p>
		</div>

		<div class={style.authors}>
			<Icon width="24" height="24" name="authors" />
			<ul aria-label="Post authors" role="list" class={style.authors__list}>
				{
					post.authorsMeta.map((author, i) => (
						<li class="text-style-button-regular">
							<a href={`/unicorns/${author.id}`}>
								{[author.name, i + 1 < post.authorsMeta.length ? "," : ""]}
							</a>
						</li>
					))
				}
			</ul>
		</div>
	</div>

	<ul aria-label="Post tags" role="list" class={style.tags}>
		{
			tags?.map((tag) => (
				<li>
					<Chip href={`/search?q=${tag}`}>{tag}</Chip>
				</li>
			))
		}
	</ul>
</header>
