---
import styles from "./adventure-continues.module.scss";
import AccessibilitySvg from "../icons/accessibility.astro";
import BookSvg from "../icons/book.astro";
import BrainSvg from "../icons/brain.astro";
import BuildSvg from "../icons/build.astro";
import ChallengesSvg from "../icons/challenges.astro";
import DiscordSvg from "../icons/discord-gradient.astro";
import DownloadsSvg from "../icons/downloads.astro";
import IncrementalSvg from "../icons/incremental.astro";
import NoFrameworkSvg from "../icons/no_framework.astro";
import NoTSSvg from "../icons/no_ts.astro";
import PackageSvg from "../icons/package.astro";
import RerenderSvg from "../icons/rerender.astro";
import SitemapSvg from "../icons/sitemap.astro";
import ToolsSvg from "../icons/tools.astro";
import WriteFrameworkSvg from "../icons/write_framework.astro";
---

<section
	class={styles.adventureContinuesContainer}
	aria-labelledby="adventure-continues"
>
	<h2
		id="adventure-continues"
		tabindex="-1"
		class={`text-style-headline-2 ${styles.title}`}
	>
		The adventure continues...
	</h2>
	<p class={`text-style-body-large-bold ${styles.subtitle}`}>
		There are so many more things this series comes with that we didn't have
		space to talk about. Here are just a few:
	</p>
	<ul class={styles.gridItems}>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<SitemapSvg aria-hidden={true} />
			<span>Explanatory charts, diagrams, and images for visual learners.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<BookSvg aria-hidden={true} />
			<span>Tons of companion blog posts to continue learning from.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<DownloadsSvg aria-hidden={true} />
			<span
				>An optional free download of the book's contents via PDF or ePub.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<DiscordSvg aria-hidden={true} />
			<span>An inclusive Discord community with regular office hours!</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<ChallengesSvg aria-hidden={true} />
			<span>Code challenges at the end of each chapter to practice with.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<BuildSvg aria-hidden={true} />
			<span
				>Practical application of concepts; build an app incrementally
				throughout.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<RerenderSvg aria-hidden={true} />
			<span>Fully understand why re-renders occur.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<WriteFrameworkSvg aria-hidden={true} />
			<span>Write your own framework from scratch.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<AccessibilitySvg aria-hidden={true} />
			<span>Accessibility in code samples & more.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<BrainSvg aria-hidden={true} />
			<span>Discover the differences in framework philosophy.</span>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<IncrementalSvg aria-hidden={true} />
			<span
				>Step by step learning structure. Code is introduced in order and builds
				on itself.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<ToolsSvg aria-hidden={true} />
			<span
				>Build with tools that are used by massive companies to scale their
				apps.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<NoFrameworkSvg aria-hidden={true} />
			<span
				>Few knowledge pre-requisites. Start with a basic understanding of HTML
				& JS.</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<PackageSvg aria-hidden={true} />
			<span
				>In-depth explanations of core JavaScript features like "Side Effects".</span
			>
		</li>
		<li class={`text-style-body-medium-bold ${styles.gridItem}`}>
			<NoTSSvg aria-hidden={true} />
			<span
				>No advanced TypeScript to worry about; just focus on the framework's
				code.</span
			>
		</li>
	</ul>
</section>
