---
import { Picture } from "components/image/picture";
import SignupForm from "../components/signup-form.astro";
import Discord from "../icons/discord.astro";
import Twitter from "../icons/twitter.astro";
import styles from "./sign-up.module.scss";
import { getUnicornById } from "utils/api";
---

<section class={styles.signUpContainer} aria-labelledby="signup-form">
	<h2 id="signup-form">
		<span class={`text-style-body-medium ${styles.thankYouForCheckingOut}`}
			>Thank you for checking out</span
		>
		<span class={`text-style-headline-2 ${styles.seriesTitleContainer}`}
			><span class={styles.seriesTitle}>The Framework Field Guide</span> 📒</span
		>
	</h2>
	<div class={styles.signUpFormContainer}>
		<Picture
			imgAttrs={{ class: styles.avatar }}
			alt=""
			src={getUnicornById("crutchcorn", "en")!.profileImgMeta
				.relativeServerPath}
			width={72}
			height={72}
			formats={["webp", "avif", "png"]}
		/>
		<h3 class={`text-style-headline-5 ${styles.signUpForUpdates}`}>
			Sign up for updates
		</h3>
		<p class={`text-style-body-medium-bold ${styles.signUpInstructions}`}>
			Now that you’re familiar with all of the books, make sure to sign up for
			updates!
		</p>
		<SignupForm />
		<p class={`text-style-body-medium ${styles.signUpDisclaimer}`}>
			All of the emails sent out will be strictly about important updates
			regarding the progress of the books.
		</p>
		<div class={styles.getInvolvedContainer}>
			<h3 class={`text-style-headline-5 ${styles.getInvolvedHeader}`}>
				Get involved
			</h3>
			<p class={`text-style-body-medium-bold ${styles.getInvolvedExplainer}`}>
				Follow me on Twitter or join our thriving Discord coding community!
			</p>
		</div>
		<div class={styles.buttonContainer}>
			<a
				class={`ffg-button-base ${styles.twitterButton}`}
				href="https://twitter.com/crutchcorn"
				aria-label="Twitter"
				target="_blank"
			>
				<Twitter aria-hidden={true} />
			</a>
			<a
				class={`ffg-button-base ${styles.discordButton}`}
				href="https://discord.gg/FMcvc6T"
				aria-label="Discord"
				target="_blank"
			>
				<Discord aria-hidden={true} />
			</a>
		</div>
	</div>
</section>
