---
import { Languages } from "types/index";
import { languages } from "constants/index";
import { removePrefixLanguageFromPath } from "utils/translations";
import { CardInline } from "components/base/card/card-inline";
import style from "./translations-header.module.scss";
import { Icon } from "astro-icon";

interface TranslationsHeaderProps {
	locales: Languages[];
}

const { locales } = Astro.props as TranslationsHeaderProps;
const path = removePrefixLanguageFromPath(Astro.url.pathname);
---

<CardInline class="d-flex">
	<Icon width="24" height="24" name="mdi:translate" />
	<p class={style.text}>
		Translated by our community into:{" "}
		{
			locales.flatMap((currLang, i, arr) => {
				const href = currLang === "en" ? path : `/${currLang}${path}`;
				return [
					<a href={href}>{languages[currLang]}</a>,
					i !== arr.length - 1 ? ", " : null,
				];
			})
		}
	</p>
</CardInline>
