---
import { Languages } from "types/index";
import { languages } from "constants/index";
import {
	getPrefixLanguageFromPath,
	removePrefixLanguageFromPath,
	translate,
} from "utils/translations";
import style from "./translations-header.module.scss";
import { Icon } from "astro-icon/components";

interface TranslationsHeaderProps {
	locales: Languages[];
}

const props = Astro.props as TranslationsHeaderProps;
const path = removePrefixLanguageFromPath(Astro.url.pathname);
const currentLocale = getPrefixLanguageFromPath(Astro.url.pathname);

const titleId = "translations-header-title";
---

<div>
	<div class={style.card}>
		<div class={style.title}>
			<Icon width={24} height={24} name="translate" aria-hidden="true" />
			<span id={titleId} class="text-style-body-large">
				{translate(Astro, "desc.translated_into")}
			</span>
		</div>
		<ul class={style.links} role="list" aria-labelledby={titleId}>
			{
				props.locales.sort().map((locale) => (
					<li>
						<a
							href={locale === "en" ? path : `/${locale}${path}`}
							aria-current={locale === currentLocale ? "page" : undefined}
							class="text-style-body-large-bold"
						>
							{languages[locale]}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
