---
import { CardSolid } from "components/base/card/card";
import { UnicornTag } from "components/unicorn-tag/unicorn-tag";
import { ProfilePictureMap } from "utils/get-unicorn-profile-pic-map";
import style from "./collection-card.module.scss";
import { Button } from "components/base";
import { Icon } from "astro-icon";
import { Picture } from "@astrojs/image/components";
import { Picture as UUPicture } from "components/base/image/picture";
import { getFullRelativePath } from "utils/url-paths";
import { ExtendedCollectionInfo } from "types/index";
import { translate } from "utils/translations";
import { getPostsByCollection } from "utils/api";

type CollectionCardProps = {
	collection: Pick<
		ExtendedCollectionInfo,
		| "title"
		| "description"
		| "slug"
		| "coverImg"
		| "authorsMeta"
		| "chapterList"
	>;
	unicornProfilePicMap: ProfilePictureMap;
};

const { collection, unicornProfilePicMap } = Astro.props as CollectionCardProps;


const coverImgPath = getFullRelativePath(
	"/content/collections",
	collection.slug,
	collection.coverImg
);

const collectionPosts = getPostsByCollection(collection.slug, "en");
---

<div class={style.container}>
	<div class={style.topRow}>
		<Picture
			alt=""
			src={coverImgPath}
			aspectRatio={160 / 240}
			sizes={`160`}
			widths={[160]}
			formats={["avif", "webp", "png"]}
			loading="eager"
			width={160}
			height={240}
			class={style.coverImg}
		/>
		<div>
			<h2 class={`text-style-headline-4 ${style.title}`}>{collection.title}</h2>
			<p class={`text-style-body-medium`}>{collection.description}</p>
		</div>
	</div>
	<div class={style.bottomRow}>
		<ul class={`unlist-inline ${style.authorList}`}>
			{
				collection.authorsMeta?.map((author) => (
					<li>
						<a
							href={`/unicorns/${author.id}`}
							class={`text-style-button-regular ${style.authorListItem}`}
						>
							<UUPicture
								picture={unicornProfilePicMap.find((u) => u.id === author.id)}
								alt={author.name}
								class={style.authorImage}
							/>
							<span>{author.name}</span>
						</a>
					</li>
				))
			}
		</ul>

		<Button href={`/collections/${collection.slug}`}>
			{translate(Astro, "title.n_chapters", collectionPosts.length.toString())}
			<Icon slot="rightIcon" height="100%" width="100%" name="forward" />
		</Button>
	</div>
</div>
