---
import Document from "../../../layouts/document.astro";
import SEO from "components/seo/seo.astro";
import UnicornsPage from "src/views/unicorn/unicorn-page.astro";
import { Languages } from "types/index";
import * as api from "utils/api";

export async function getStaticPaths() {
	const unicorns = api.getUnicornsByLang("en");
	return unicorns.map((unicorn) => ({ params: { unicornid: unicorn.id } }));
}

const params = Astro.params as { unicornid: string };

const locale: Languages = "en";
const unicorn = api.getUnicornById(params.unicornid, locale)!;
const posts = api.getPostsByUnicorn(unicorn.id, locale);
---

<Document size="xl">
	<SEO
		slot="head"
		title={unicorn.name}
		description={unicorn.description}
		unicornsData={[unicorn]}
		type="profile"
		pathName={`/unicorns/${unicorn.id}`}
	/>
	<main class="listViewContent">
		<UnicornsPage unicorn={unicorn} posts={posts} />
	</main>
</Document>
