---
import Document from "../../../layouts/document.astro";
import SEO from "components/seo/seo.astro";
import UnicornsPage from "src/views/unicorn/unicorn-page.astro";
import { getPostsByUnicorn } from "utils/api";
import { unicorns } from "utils/data";

export async function getStaticPaths() {
	return unicorns.map((unicorn) => ({ params: { unicornid: unicorn.id } }));
}

const params = Astro.params as { unicornid: string };

const unicorn = unicorns.find((unicorn) => unicorn.id === params.unicornid);

const posts = getPostsByUnicorn(unicorn.id, "en");
---

<Document size="xl">
	<SEO
		slot="head"
		title={unicorn.name}
		description={unicorn.description}
		unicornsData={[unicorn]}
		type="profile"
		pathName={`/unicorns/${unicorn.id}`}
	/>
	<div class="listViewContent">
		<UnicornsPage unicorn={unicorn} posts={posts} />
	</div>
</Document>
