---
import { Picture } from "@astrojs/image/components";
import Icon from "astro-icon";
import * as data from "src/utils/data";
import { Button } from "components/base";
import DarkLightButton from "components/dark-light-button/dark-light-button.astro";
import BackButton from "./back-button.astro";
import style from "./header.module.scss";
import logo from "src/assets/unicorn_utterances_logo_512.png";
import { removePrefixLanguageFromPath, translate } from "utils/translations";

const path = removePrefixLanguageFromPath(Astro.url.pathname);
const isHome = path === "/";
const isAbout = path === "/about";
---

<nav
	class={`container d-flex ${style.header}`}
	aria-label="Toolbar for primary action buttons"
>
	<BackButton />

	<a href="/" class={`d-flex ${style.logo}`}>
		<Picture
			src={logo}
			width={48}
			height={48}
			sizes="48"
			widths={[48]}
			formats={["avif", "webp", "png"]}
			alt={translate(Astro, "alt.unicorn_utterances_logo")}
		/>

		<span class="text-style-button">
			Unicorn<br />
			Utterances
		</span>
	</a>

	<div class={`d-flex ${style.nav}`}>
		<Button href="/" variant={isHome ? null : "borderless"}>
			{translate(Astro, "title.home")}
		</Button>
		<Button href="/about" variant={isAbout ? null : "borderless"}>
			{translate(Astro, "title.about_us")}
		</Button>
	</div>

	<div class={`d-flex ${style.icons}`}>
		<Button icon href="/search" aria-label={translate(Astro, "title.search")}>
			<Icon height="24" width="24" name="search" />
		</Button>
		<Button
			icon
			href={data.about.links.Discord.url}
			aria-label={translate(Astro, "action.join_discord")}
		>
			<Icon height="24" width="24" name={data.about.links.Discord.icon} />
		</Button>
		<DarkLightButton />
	</div>
</nav>
