---
import { Picture } from "@astrojs/image/components";
import Icon from "astro-icon";
import * as data from "src/utils/data";
import { Button, IconOnlyButton } from "components/index";
import DarkLightButton from "./dark-light-button/dark-light-button.astro";
import BackButton from "./back-button/back-button.astro";
import style from "./header.module.scss";
import logo from "src/assets/unicorn_utterances_logo_512.png";
import { removePrefixLanguageFromPath, translate } from "utils/translations";

const path = removePrefixLanguageFromPath(Astro.url.pathname);
const isHome = path === "/";
const isAbout = /\/about\/?/.test(path);
---

<nav class={style.headerBorder} aria-label="Toolbar for primary action buttons">
	<div class={`container d-flex ${style.header}`}>
		<BackButton />

		<a href="/" class={`d-flex ${style.logo}`}>
			<Picture
				src={logo}
				width={48}
				height={48}
				sizes="48"
				widths={[48]}
				formats={["avif", "webp", "png"]}
				alt={translate(Astro, "alt.unicorn_utterances_logo")}
			/>

			<span class="text-style-button-regular">
				Unicorn<br />
				Utterances
			</span>
		</a>

		<div class={`d-flex ${style.nav}`}>
			<Button href="/" variant={isHome ? "primary-emphasized" : "primary"}>
				{translate(Astro, "title.home")}
			</Button>
			<Button
				href="/about"
				variant={isAbout ? "primary-emphasized" : "primary"}
			>
				{translate(Astro, "title.about_us")}
			</Button>
		</div>

		<div class={`d-flex ${style.icons}`}>
			<IconOnlyButton
				href="/search"
				aria-label={translate(Astro, "title.search")}
			>
				<Icon height="100%" width="100%" name="mdi:search" />
			</IconOnlyButton>
			<IconOnlyButton
				href={data.about.links.Discord.url}
				aria-label={translate(Astro, "action.join_discord")}
			>
				<Icon height="100%" width="100%" name={data.about.links.Discord.icon} />
			</IconOnlyButton>
			<DarkLightButton />
		</div>
	</div>
</nav>
