---
// TODO: Add pagination component
// TODO: Add FilterSearchBar
import PostListHeader from "./post-list-header/post-list-header.astro";
import PostList from "components/post-card-list/post-card-list.astro";
// import { PostListProvider } from "constants/post-list-context";
// import { Pagination } from "components/pagination";
// import { FilterSearchBar } from "components/filter-search-bar";
import { siteMetadata } from "constants/site-config";
// import { ListViewPosts } from "utils/fs/api";

interface PostListTemplateProps {
  numberOfPages: number;
  limitNumber: number;
  pageIndex: number;
  // posts: ListViewPosts;
  posts: any;
}

const { 
  // numberOfPages,
  // limitNumber,
  // pageIndex,
  posts
} = Astro.props as PostListTemplateProps;
---

<div>
  <!-- <PostListProvider
    posts={posts}
    numberOfPages={numberOfPages}
    limitNumber={limitNumber}
    pageIndex={pageIndex}
  > -->
    <PostListHeader siteDescription={siteMetadata.description} />
    <main>
      <!-- <FilterSearchBar /> -->
      <PostList listAriaLabel="List of posts" postsToDisplay={posts} />
    </main>
    <!-- <Pagination absolutePath={router.basePath} /> -->
  <!-- </PostListProvider> -->
</div>
