---
// TODO: Add pagination component
// TODO: Add FilterSearchBar
import PostListHeader from "./post-list-header/post-list-header.astro";
import PostList from "components/post-card-list/post-card-list.astro";
// import { PostListProvider } from "constants/post-list-context";
// import { Pagination } from "components/pagination";
// import { FilterSearchBar } from "components/filter-search-bar";
import { siteMetadata } from "constants/site-config";
import { PostInfo } from "types/PostInfo";
import { Page } from "astro";
import Pagination from "components/pagination/pagination.astro";

export interface PostListTemplateProps {
  posts: PostInfo[];
  page: Pick<Page<PostInfo>, 'total' | 'currentPage' | 'size' | 'lastPage' | 'url'>
}

const { 
  posts,
  page
} = Astro.props as PostListTemplateProps;
---

<div>
  <!-- <PostListProvider
    posts={posts}
    numberOfPages={numberOfPages}
    limitNumber={limitNumber}
    pageIndex={pageIndex}
  > -->
    <PostListHeader siteDescription={siteMetadata.description} />
    <main>
      <!-- <FilterSearchBar /> -->
      <PostList listAriaLabel="List of posts" postsToDisplay={posts} />
    </main>
    <Pagination page={page} />
    <!-- <Pagination absolutePath={router.basePath} /> -->
  <!-- </PostListProvider> -->
</div>
