---
import Document from "../../layouts/document.astro";
import PageView from "src/views/explore/page.astro";
import { getPostsByLang } from "utils/api";
import SEO from "components/seo/seo.astro";
import type { Page } from "astro";

const posts = getPostsByLang("en");

const { page } = Astro.params as { page: string };

const currentPage = parseInt(page, 10);

const postsPerPage = 8;

const data = posts.slice(
	(currentPage - 1) * postsPerPage,
	currentPage * postsPerPage,
);

const lastPage = Math.ceil(posts.length / postsPerPage);

const SEOTitle = `Post page ${currentPage}`;

const SEODescription = `Browse all posts on Playful Programming, page ${currentPage}`;
---

<Document>
	<SEO slot="head" title={SEOTitle} description={SEODescription} />
	<main class="container">
		<PageView posts={data} currentPage={currentPage} lastPage={lastPage} />
	</main>
</Document>
