---
import Document from "../../layouts/document.astro";
import PageView from "src/views/explore/page.astro";
import { getPostsByLang } from "utils/api";
import { PostInfo } from "types/index";
import SEO from "components/seo/seo.astro";
import type { Page } from "astro";
import { GetStaticPaths } from "astro";

export const getStaticPaths: GetStaticPaths = async ({ paginate }) => {
	const postsToDisplay = getPostsByLang("en");

	return paginate(postsToDisplay, { pageSize: 8 });
};

const { page } = Astro.props as { page: Page<PostInfo> };

const pageIndex = page.currentPage;

const SEOTitle = `Post page ${pageIndex}`;

const SEODescription = `Browse all posts on Unicorn Utterances, page ${pageIndex}`;
---

<Document>
	<SEO slot="head" title={SEOTitle} description={SEODescription} />
	<main class="container">
		<PageView posts={page.data} page={page} />
	</main>
</Document>
